@import "functions/functions";
@import "mixins/mixins";
@import "variables/variables";
@import "reset";
@import "layout/layout";
@import "inputs/inputs";
@import "components/components";
@import "assignments/assignments";
@import "site";

// inputs
@include layoutr-btn;
@include layoutr-dropdown;
@include layoutr-form;
@include layoutr-radio-checkbox-switch;
@include layoutr-range;

// components
@include layoutr-accordion;
@include layoutr-alert;
@include layoutr-audio-visualiser;
@include layoutr-common;
@include layoutr-dimension;
@include layoutr-embed;
@include layoutr-flex-table;
@include layoutr-flex;
@include layoutr-grid;
@include layoutr-headline;
@include layoutr-img;
@include layoutr-lazy;
@include layoutr-list;
@include layoutr-overlay;
@include layoutr-percentage-circle;
@include layoutr-percentage;
@include layoutr-plyr;
@include layoutr-popup;
@include layoutr-progress;
@include layoutr-quote;
@include layoutr-responsive-background;
@include layoutr-table;
@include layoutr-tabs;
@include layoutr-tooltip;
@include layoutr-tree;

// assignments
@include layoutr-color;
@include layoutr-drag-and-drop;
@include layoutr-sort;
@include layoutr-puzzle;

html {
    body {
        overflow: visible;
        background-color: $layout-background-color;

        @include breakpoint-main-min-width {
            background-color: $body-background-color;
        }
    }

    &.site-loaded #site {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
