/// <reference path="references" />

#popup-position {
    i {
        position: relative;
        // these icons should be replaced with svg for production
        // since svg will change color based on btn background-color
        $icon-bg: white;
        $icon-line-size: $font-size / 3;

        &.center,
        &.corner {
            @include border-radius($font-size / 4);
            overflow: hidden;
        }

        &.corner:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-style: solid;
        }

        &.top-left:before {
            border-width: 0 0 $font-size $font-size;
            border-color: transparent transparent transparent $icon-bg;
        }

        &.top-right:before {
            border-width: 0 $font-size $font-size 0;
            border-color: transparent $icon-bg transparent transparent;
        }

        &.bottom-left:before {
            border-width: 0 $font-size $font-size 0;
            border-color: transparent transparent $icon-bg transparent;
        }

        &.bottom-right:before {
            border-width: $font-size $font-size 0 0;
            border-color: transparent $icon-bg transparent transparent;
        }

        &.line:before {
            content: '';
            position: absolute;
            background-color: $icon-bg;
            @include border-radius($icon-line-size / 2);
        }

        &.top:before {
            height: $icon-line-size;
            top: 0;
            left: 0;
            right: 0;
        }

        &.bottom:before {
            height: $icon-line-size;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &.left:before {
            width: $icon-line-size;
            top: 0;
            bottom: 0;
            left: 0;
        }

        &.right:before {
            width: $icon-line-size;
            top: 0;
            bottom: 0;
            right: 0;
        }

        &.center {
            background-color: $icon-bg;
        }
    }
}

#google-maps,
#youtube {
    width: 100%;
}

#lighthouse {
    > div {
        width:rem(168px);
    }
}