/// <reference path="references" />

#lighthouse > div {
    width: rem(168px);
}

#browsers,
#platforms {
    > div {
        width: rem(130px);

        .title {
            font-weight: bold;

            & + span {
                margin-top: 0;
            }
        }

        i {
            width: rem(80px);
            height: rem(80px);

            > svg {
                width: 100%;
                height: 100%;
            }

            @media print {
                position: relative;

                > svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

#gtmetric .score {
    .large,
    .grade,
    .number {
        font-size: 200%;
    }

    .grade,
    .number {
        color: $success;
    }

    .grade {
        font-weight: bold;
    }

    .arrow {
        > svg {
            width: $font-size;
            height: $font-size;
            transform: rotate(270deg);
            fill: $success;
        }
    }
}
