/// <reference path="references" />

#browsers,
#platforms {
    > div {
        width: rem(130px);

        .title {
            font-weight: bold;

            & + span {
                margin-top: 0;
            }
        }

        i {
            width: rem(80px);
            height: rem(80px);

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#lighthouse > div {
    width: rem(168px);
}

#gtmetric .score {
    .large,
    .grade,
    .number {
        font-size: 200%;
    }

    .grade,
    .number {
        color: $success;
    }

    .grade {
        font-weight: bold;
    }

    .arrow {
        > svg {
            width: $font-size;
            height: $font-size;
            transform: rotate(270deg);
            fill: $success;
        }
    }
}

#navigation-toggle {
    margin-bottom: -$spacer;

    .btn {
        padding-left: 0;
        padding-right: 0;
    }
}

#content {

    html[data-status="error"].wf-active & {
        #error-title {
            font-family: $font-bebas-neue;
            letter-spacing: font-bebas-neue-line-height($error-title-font-size);
        }

        #error-description {
            font-family: $font-bebas-neue;
            letter-spacing: font-bebas-neue-line-height($error-description-font-size);
        }
    }

    html[data-status="error"] & {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $error-background-color;
        color: $error-color;

        > div {
            background-color: transparent;
            padding: $spacer;
            max-width: $container-medium;

            img {
                background-color: transparent;
                width: rem(200px);
            }

            > div {

                #error-title {
                    display: block;
                    font-size: $error-title-font-size;
                    line-height: $error-line-height;
                    max-width: 100%;
                }

                #error-description {
                    display: block;
                    font-size: $error-description-font-size;
                    line-height: $error-line-height;
                    font-weight: normal;
                    max-width: 100%;
                }
            }
        }
    }
}
