/// <reference path="references" />

#google-maps,
#youtube,
#mathjax {
    width: 100%;
}

#mathjax {
    .MJXc-display {
        margin: 0 !important;
    }
}

#lighthouse {
    > div {
        width: rem(168px);
    }
}

#browsers,
#platforms {
    > div {
        width: rem(130px);

        .title {
            font-weight: bold;

            & + span {
                margin-top: 0;
            }
        }

        i {
            width: rem(80px);
            height: rem(80px);

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#authentication {
    @include flex-display;

    > button {
        margin: ($spacer / 2);
        padding: 0 $padding-x;
        color: $link-color;
        border-radius: $component-border-radius;

        &:hover,
        &:focus {
            @include theme-element-darken($primary);
            box-shadow: $box-shadow;
        }
    }

    > span {
        margin: $spacer 0;
        width: $layout-border-width;
        background-color: $layout-border-color;
    }
}
