/// <reference path="references" />

$number-aside-width: 230;
$number-header-height: 50;
$number-footer-height: 50;
$number-content-min-width: 500;
$number-content-max-width: 1280;

// layout
$aside-width: rem($number-aside-width);
$aside-header-background-color: #f1f1f1;

$header-height: rem($number-header-height);

$footer-height: rem($number-footer-height);

$content-min-width: rem($number-content-min-width);
$content-max-width: rem($number-content-max-width);

$layout-border-width: rem(1);
$layout-border-color-light: $gray-400;

$footer-background-color: $gray-400;

$aside-header-background-color: $gray-400;

$breakpoint-one-column: ($number-aside-width + $content-min-width) + px;
$breakpoint-two-column: ($number-aside-width + ($number-content-min-width * 2)) + px;

// components
$tree-hover-background-color: $gray-300;
$tree-highlight-background-color: $gray-200;
$tree-border-color: $gray-400;

// maybe the below colors can be replaced with bootstrap variables
$font-color-dark: black;
$font-color-light: white;
/*$primary-color-dark: #262626;
$secondary-color-dark: black;*/
