
<section>
    <ul class="tree">
        <li><a href="page1" class="label">Page 1</a></li>
        <li><a href="page2" class="label">Page 2</a></li>
        <li><a href="page3" class="label">Page 3</a></li>
        <li><a href="page4" class="label">Page 4</a></li>
        <li><a href="page5" class="label">Page 5</a></li>
        <li>
            <input type="checkbox" id="c1" />
            <label class="label toggle" tabindex="0" for="c1">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                Level 0
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c2" />
                    <label class="label toggle" tabindex="0" for="c2">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        Level 1
                    </label>

                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c3" />
                    <label class="label toggle" tabindex="0" for="c3">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        Looong level 1 <br />label text <br />with line-breaks
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c4" />
                            <label class="label toggle" tabindex="0" for="c4">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                <span class="highlight">Specified tree item view</span>
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" id="c5" />
            <label class="label toggle" tabindex="0"  for="c5">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                Level 0
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c6" />
                    <label class="label toggle" tabindex="0" for="c6">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        Level 1
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c7" />
                    <label class="label toggle" tabindex="0" for="c7">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        Level 1
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c8" />
                            <label class="label toggle" tabindex="0" for="c8">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                Level 2
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <div class="flex-items wrap">
        <button class="btn toggle-loading">Loading</button>
    </div>
</section>
<!--<section>
    <p>a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />
        a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />a<br />
    xxxxxxxx</p>
</section>-->