<section>
    <ul class="tree">
        <li><a href="" class="label">Home</a></li>
        <li><a href="cover-and-two-content" class="label">Cover + two content</a></li>
        <li><a href="cover" class="label">Cover</a></li>
        <li><a href="two-content" class="label">Two content</a></li>
        <li><a href="full-width-content" class="label">Full width content</a></li>
        <li>
            <input type="checkbox" id="c9" />
            <label class="label toggle" tabindex="0" for="c9">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Examples</span>
            </label>
            <ul>
                <li><a href="accordion" class="label">Accordion</a></li>
                <li><a href="alert" class="label">Alert</a></li>
                <li><a href="button" class="label">Button</a></li>
                <li><a href="drag-and-drop" class="label">Drag and drop</a></li>
                <li><a href="embed" class="label">Embed</a></li>
                <li><a href="form" class="label">Form</a></li>
                <li><a href="headline" class="label">Headline</a></li>
                <li><a href="img" class="label">Image</a></li>
                <li><a href="katex" class="label">KaTeX</a></li>
                <li><a href="ordered-list" class="label">Ordered list</a></li>
                <li><a href="percentage" class="label">Percentage</a></li>
                <li><a href="popup" class="label">Popup</a></li>
                <li><a href="progress" class="label">Progress</a></li>
                <li><a href="quote" class="label">Quote</a></li>
                <li><a href="table" class="label">Table</a></li>
                <li><a href="tooltip" class="label">Tooltip</a></li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="c1" />
            <label class="label toggle" tabindex="0" for="c1">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Level 0</span>
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c2" />
                    <label class="label toggle" tabindex="0" for="c2">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c3" />
                    <label class="label toggle" tabindex="0" for="c3">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Looong level 1 <br />label text <br />with line-breaks</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c4" />
                            <label class="label toggle" tabindex="0" for="c4">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                <span class="highlight">Specified tree item view</span>
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <input type="checkbox" id="c5" />
            <label class="label toggle" tabindex="0" for="c5">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Level 0</span>
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c6" />
                    <label class="label toggle" tabindex="0" for="c6">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c7" />
                    <label class="label toggle" tabindex="0" for="c7">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c8" />
                            <label class="label toggle" tabindex="0" for="c8">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                <span>Level 2</span>
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>
<section class="flex-items wrap">
    <button type="button" class="btn toggle-loading">Loading</button>
</section>