<div id="settings">
    <section class="flex-items wrap space-2">
        <div class="checkbox">
            <input id="footer-fixed" name="footer-fixed" type="checkbox" data-id="footer-fixed">
            <label tabindex="0" for="footer-fixed"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Fixed footer</label>
        </div>
        <div class="checkbox">
            <input id="two-columns" name="two-columns" type="checkbox" checked="checked">
            <label tabindex="0" for="two-columns"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Two columns</label>
        </div>
        <div class="checkbox">
            <input id="transitions" name="transitions" type="checkbox" checked="checked">
            <label tabindex="0" for="transitions"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Transitions</label>
        </div>
    </section>
    <section class="flex-items wrap space-2">
        <h6>Navigation</h6>
        <div class="radio">
            <input id="left-overlay" name="aside-left" type="radio" checked="checked">
            <label tabindex="0" for="left-overlay"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Overlay</label>
        </div>
        <div class="radio">
            <input id="left-push" name="aside-left" type="radio">
            <label tabindex="0" for="left-push"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Push</label>
        </div>
        <div class="radio">
            <input id="left-shrink" name="aside-left" type="radio">
            <label tabindex="0" for="left-shrink"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Shrink</label>
        </div>
        <div class="checkbox">
            <input id="close-left-click-outside" name="close-left-click-outside" type="checkbox">
            <label tabindex="0" for="close-left-click-outside"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Close on click outside</label>
        </div>
    </section>
    <section class="flex-items wrap space-2">
        <h6>Settings</h6>
        <div class="radio">
            <input id="right-overlay" name="aside-right" type="radio" checked="checked">
            <label tabindex="0" for="right-overlay"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Overlay</label>
        </div>
        <div class="radio">
            <input id="right-push" name="aside-right" type="radio">
            <label tabindex="0" for="right-push"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Push</label>
        </div>
        <div class="radio">
            <input id="right-shrink" name="aside-right" type="radio">
            <label tabindex="0" for="right-shrink"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Shrink</label>
        </div>
        <div class="checkbox">
            <input id="close-right-click-outside" name="close-right-click-outside" type="checkbox">
            <label tabindex="0" for="close-right-click-outside"><i><svg focusable="false"><use xlink:href="#svg-checkmark"></use></svg></i> Close on click outside</label>
        </div>
    </section>
    <section class="flex-items wrap space-2">
        <button type="button" class="btn toggle-loading">Loading</button>
        <button type="button" class=" btn theme-secondary modal" data-modal="form" data-modal-id="register" data-modal-title="Register"><span>Register</span></button>
    </section>
</div>