<section id="settings" class="flex-items wrap small">
    <div>
        <label for="font-size">Font-size</label>
        <input id="font-size" type="text" />
    </div>
    <div class="alert theme-danger">
        <div class="flex-items">
            <p>
                <b>Font-size</b> should not be used in production, since media queries are based on browser font-size, instead of site font-size.
            </p>
        </div>
    </div>
    <button class="btn toggle-loading">Loading</button>
    <div>
        <div class="checkbox">
            <input id="footer-fixed" type="checkbox" data-id="footer-fixed">
            <label for="footer-fixed"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Fixed footer</label>
        </div>
        <div class="checkbox">
            <input id="two-columns" type="checkbox" checked="checked">
            <label for="two-columns"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Two columns</label>
        </div>
        <div class="checkbox">
            <input id="transitions" type="checkbox" checked="checked">
            <label for="transitions"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Transitions</label>
        </div>
        <h6>Navigation</h6>
        <div class="checkbox">
            <input id="left-push" type="checkbox" checked="checked">
            <label for="left-push"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Push</label>
        </div>
        <div class="checkbox">
            <input id="close-left-click-outside" type="checkbox" checked="checked">
            <label for="close-left-click-outside"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Close on click outside</label>
        </div>
        <div class="checkbox">
            <input id="left-overlay" type="checkbox" checked="checked">
            <label for="left-overlay"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> overlay</label>
        </div>
        <h6>Settings</h6>
        <div class="checkbox">
            <input id="right-push" type="checkbox" checked="checked">
            <label for="right-push"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Push</label>
        </div>
        <div class="checkbox">
            <input id="right-overlay" type="checkbox" checked="checked">
            <label for="right-overlay"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Overlay</label>
        </div>
        <div class="checkbox">
            <input id="close-right-click-outside" type="checkbox" checked="checked">
            <label for="close-right-click-outside"><i><svg><use xlink:href="#svg-checkmark"></use></svg></i> Close on click outside</label>
        </div>
    </div>
</section>