<section id="navigation-toggle" class="flex column grow space-4">
    <button type="button" id="navigation-expand" class="btn theme-secondary">Expand</button>
    <button type="button" id="navigation-collapse" class="btn theme-secondary">Collapse</button>
</section>
<section>
    <ul class="tree">
        {{#each this}}
        {{> "layout/navigation/_linkTemplate" this }}
        {{#if (eq type 'list')}}
        <li>
            <input type="checkbox" id="c{{@index}}" />
            <label class="label toggle" tabindex="0" for="c{{@index}}">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>{{title}}</span>
            </label>
            <ul>
                {{#each list}}
                {{> "layout/navigation/_linkTemplate" this }}
                {{/each}}
            </ul>
        </li>
        {{/if}}
        {{/each}}
        <li>
            <input type="checkbox" id="c11" />
            <label class="label toggle" tabindex="0" for="c11">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Inputs</span>
            </label>
            <ul>
                <li><a href="button" class="label">Button</a></li>
                <li><a href="form" class="label">Form</a></li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="c2" />
            <label class="label toggle" tabindex="0" for="c2">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Assignments</span>
            </label>
            <ul>
                <li><a href="color" class="label">Color</a></li>
                <li><a href="drag-and-drop" class="label">Drag and drop</a></li>
                <li><a href="sort" class="label">Sort</a></li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="c3" />
            <label class="label toggle" tabindex="0" for="c3">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Level 0</span>
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c4" />
                    <label class="label toggle" tabindex="0" for="c4">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c5" />
                    <label class="label toggle" tabindex="0" for="c5">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Looong level 1 <br />label text <br />with line-breaks</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c6" />
                            <label class="label toggle" tabindex="0" for="c6">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                <span class="highlight">Specified tree item view</span>
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="c7" />
            <label class="label toggle" tabindex="0" for="c7">
                <i>
                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                </i>
                <span>Level 0</span>
            </label>
            <ul>
                <li>
                    <input type="checkbox" id="c8" />
                    <label class="label toggle" tabindex="0" for="c8">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c9" />
                    <label class="label toggle" tabindex="0" for="c9">
                        <i>
                            <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                            <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                        </i>
                        <span>Level 1</span>
                    </label>
                    <ul>
                        <li><span class="label">Level 2</span></li>
                        <li>
                            <input type="checkbox" id="c10" />
                            <label class="label toggle" tabindex="0" for="c10">
                                <i>
                                    <svg focusable="false"><use xlink:href="#svg-plus"></use></svg>
                                    <svg focusable="false"><use xlink:href="#svg-minus"></use></svg>
                                </i>
                                <span>Level 2</span>
                            </label>
                            <ul>
                                <li><span class="label">Level 3</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>