/// <reference path="../references" />

@import "colors";
@import "fonts";
@import "layout";

// links
$link-color: theme-color("primary");
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$border-radius-base: .5rem;

$padding-x-base: 1rem;
$padding-y-base: .5rem;

$component-border-color: $gray-400;
$component-border-width: rem(1px);
$component-border: $component-border-width solid $component-border-color;

// components
$tree-hover-background-color: $gray-300;
$tree-highlight-background-color: $gray-200;

$form-label-width:rem(150px);
$form-input-min-width:rem(200px);

$enable-shadows: true;
$btn-box-shadow: inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$btn-focus-box-shadow: 0 0 0 3px rgba(theme-color("primary"), .25) !default;

$input-box-shadow: inset 0 1px 1px rgba($black,.075) !default;
$input-focus-box-shadow: $input-box-shadow, $btn-focus-box-shadow !default;

