/// <reference path="../references" />

@import "colors";
@import "fonts";
@import "layout";

// links
$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$padding-x: 1rem;
$padding-y: .5rem;

$component-border-color: $gray-400;
$component-border-width: rem(1px);
$component-border: $component-border-width solid $component-border-color;
$component-border-radius: .5rem;

// components
$tree-hover-background-color: $gray-300;
$tree-highlight-background-color: $gray-200;

$form-label-width:rem(150px);
$form-input-min-width:rem(200px);

$enable-shadows: true;

$btn-height: $line-height + ($padding-y * 2);
$btn-box-shadow: inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);
$btn-focus-box-shadow: 0 0 0 3px rgba(theme-color("primary"), .25);

$input-box-shadow: inset 0 1px 1px rgba($black,.075);
$input-focus-box-shadow: $input-box-shadow, $btn-focus-box-shadow;

$slider-line-height: 1.5rem;
$slider-background-color-1: $gray-200;
$slider-background-color-2: theme-color("primary");

$quote-img-width: rem(100px);

$table-th-color: white;
$table-th-background-color: theme-color("secondary");
$table-td-background-color: theme-color("light");