/// <reference path="../references" />

$gray-0: v(gray-0);
$gray-10: v(gray-10);
$gray-20: v(gray-20);
$gray-30: v(gray-30);
$gray-40: v(gray-40);
$gray-50: v(gray-50);
$gray-60: v(gray-60);
$gray-70: v(gray-70);
$gray-80: v(gray-80);
$gray-90: v(gray-90);
$gray-100: v(gray-100);

$grays: ( 100: $gray-10, 200: $gray-20, 300: $gray-30, 400: $gray-40, 500: $gray-50, 600: $gray-60, 700: $gray-70, 800: $gray-80, 900: $gray-90 );

$blue: v(blue);
$indigo: v(indigo);
$purple: v(purple);
$pink: v(pink);
$red: v(red);
$orange: v(orange);
$yellow: v(yellow);
$green: v(green);
$teal: v(teal);
$cyan: v(cyan);

$colors: ( blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan );

$primary: $blue;
$secondary: $gray-60;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-10;
$dark: $gray-80;

$theme-colors: ( primary: $primary, secondary: $secondary, success: $success, info: $info, warning: $warning, danger: $danger, light: $light, dark: $dark );

$body-background-color: v(body);

$color-light: $gray-0;
$color-dark: $gray-90;

$overlay-background-color-light: rgba($gray-0, 0.6)!default;
$overlay-background-color-dark: rgba($gray-100, 0.6)!default;

$component-overlay-light-background-color: rgba($gray-0, 0.4)!default;
$component-overlay-dark-background-color: rgba($gray-100, 0.4)!default;

$theme-validation-colors: ( danger: $danger )!default; // success: $success,

$link-color: $primary!default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;
$body-color: $gray-90;

// layout
$layout-border-color: rgb($gray-40);
$aside-header-background-color: rgb($gray-40);
$footer-color: rgb($gray-40);
$footer-background-color: rgb($gray-80);
$footer-border-color: rgb($gray-90);

$font-light-opacity: .8;

$loader-background-color: rgb($gray-90);

$layout-background-color: rgb($gray-0);
$modal-background-color: rgb($gray-0);

$error-color: $color-light!default;