
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6F7780;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ( 100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900 );

$blue: #0072ED;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #218838;
$teal: #20c997;
$cyan: #138294;

$colors: ( blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, gray: $gray-600, gray-dark: $gray-800 );

$theme-colors: ( primary: $blue, secondary: $gray-600, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800 );

$theme-validation-colors: ( success: $green, danger: $red );

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

$body-background-color: #f1f1f1;
$body-color: $gray-900;

// layout
$layout-border-color: $gray-400;
$layout-background-color: $white;
$aside-header-background-color: $gray-400;
$footer-color: $gray-400;
$footer-background-color: $gray-800;
$footer-border-color: $gray-900;

$font-light-opacity: .8;

$loader-background-color: $gray-900;

$overlay-background-color: rgba(255, 255, 255, 0.6);
$content-overlay-background-color: rgba(0, 0, 0, 0.6);

$component-overlay-light-background-color: rgba(255, 255, 255, 0.4);
$component-overlay-dark-background-color: rgba(0, 0, 0, 0.4);

$aside-icon-background-color: $gray-600;
$aside-icon-hover-background-color: $black;

$modal-background-color: $white;