/// <reference path="../references" />

$grays: ( 100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900 );

$blue: #0072ED;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #BE5A06;
$yellow: #ffc107;
$green: #218838;
$teal: #20c997;
$cyan: #138294;

$colors: ( blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan );

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ( primary: $primary, secondary: $secondary, success: $success, info: $info, warning: $warning, danger: $danger, light: $light, dark: $dark );

$theme-validation-colors: ( danger: $danger ); // success: $success,

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;
$body-color: $gray-900;

// layout
$layout-border-color: $gray-400;
$aside-header-background-color: $gray-400;
$footer-color: $gray-400;
$footer-background-color: $gray-800;
$footer-border-color: $gray-900;

$font-light-opacity: .8;

$loader-background-color: $gray-900;

$layout-background-color: $white;
$modal-background-color: $white;