/// <reference path="../references" />

$aside-extra-spacing: 10rem; // Google Chrome Android fix

$spacer: 1rem;

$layout-border-width: rem(1);
$aside-width: rem(230) + $layout-border-width;
$layout-border: $layout-border-width solid $layout-border-color;

$main-min-width: $aside-width + $aside-width;

$loading-width: rem(200);

$header-height: rem(50) + $layout-border-width;

$footer-height: rem(50) + $layout-border-width;

$content-min-width: rem(500);
$content-max-width: rem(1280);
$content-header-height: 40vh;
$content-header-min-height: rem(250);

$breakpoint-one-column: $aside-width + $content-min-width;
$breakpoint-two-columns: $aside-width + $content-min-width + $content-min-width;