/// <reference path="../references" />

$spacer: 1rem;

$layout-border-width: rem(1px);
$aside-width: rem(230px) + $layout-border-width;
$layout-border: $layout-border-width solid $layout-border-color;

$main-min-width: $aside-width + $aside-width;

$loading-width: rem(200px);

$header-height-content: rem(50px) ;

$header-height: $header-height-content + $layout-border-width;

$footer-height: rem(50px) + $layout-border-width;

$content-min-width: rem(500px);
$content-max-width: rem(1280px);
$content-header-height: 40vh;
$content-header-min-height: rem(250px);

$list-bullet-width: rem(6px);

// em and rem should not be used in media queries, since they are based on browser font size, instead of website font size
// there is currently no workaround for this browser limitation
$breakpoint-aside-width: px($aside-width + rem(30px));
$breakpoint-main-min-width: px($main-min-width);
$breakpoint-one-column: px($aside-width + $content-min-width);
$breakpoint-two-columns: px($aside-width + $content-min-width + $content-min-width);

$container-small: rem(500px);
$container-medium: rem(750px);
$container-large: rem(1000px);

$transition-duration: .4s;
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    $transition-duration: .1s;
}

$transition-timing: ease;

$spacer-base: $spacer / 4;

$spacer-1: $spacer-base * 1;
$spacer-2: $spacer-base * 2;
$spacer-3: $spacer-base * 3;
$spacer-4: $spacer-base * 4;
$spacer-5: $spacer-base * 5;
$spacer-6: $spacer-base * 6;
$spacer-7: $spacer-base * 7;
$spacer-8: $spacer-base * 8;
$spacer-9: $spacer-base * 9;
$spacer-10: $spacer-base * 10;