$loading-z-index: 140;
$reading-ruler-z-index: 130;
$modal-z-index: 120;
$cookie-z-index: 110;
$popup-z-index: 100;
$aside-z-index: 90;
$header-z-index: 80;
$footer-z-index: 70;
$overlay-z-index: 60;
$tooltip-z-index: 50;
$dropdown-z-index: 40;
$input-group-addon: 30;
$component-focus-z-index: 20;
$component-z-index: 10;
