$loading-z-index: 120;
$modal-z-index: 110;
$android-main: 100;
$popup-z-index: 90;
$aside-z-index: 80;
$header-z-index: 70;
$footer-z-index: 60;
$overlay-z-index: 50;
$dropdown-z-index: 40;
$input-group-addon: 30;
$component-focus-z-index: 20;
$component-z-index: 10;
