$loading-z-index: 100;
$popup-z-index: 90;
$aside-z-index: 80;
$header-z-index: 70;
$footer-z-index: 60;
$overlay-z-index: 50;
$dropdown-z-index: 40;
$input-group-addon: 33;
$component-focus-z-index: 20;
$component-z-index: 10;
