{
  "presets": [
    [
      "env",
      {
        "targets": {
          // browserlist combined by OR clause
          // https://github.com/ai/browserslist
          "browsers": [ "last 2 versions", "not ie <= 10" ]
        },
        "useBuiltIns": true
      }
    ]
  ]
}