<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File" >
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" />
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
</configuration>