@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
    -webkit-animation: $name $duration $delay $ease;
    animation: $name $duration $delay $ease;
}

@mixin animation-delay ($delay) {
    -animation-delay: $delay;
    animation-delay: $delay;
}