@mixin border-radius ($radius: 5px) {
    border-radius: $radius;
}

@mixin border-radiuses ($topleft: 0, $topright: 0, $bottomright: 0, $bottomleft: 0) {
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
}

@mixin border-radiuses-ignore-0 ($topleft: 0, $topright: 0, $bottomright: 0, $bottomleft: 0) {
    @if ($topleft != 0) {
        border-top-left-radius: $topleft;
    }

    @if ($topright != 0) {
        border-top-right-radius: $topright;
    }

    @if ($bottomright != 0) {
        border-bottom-right-radius: $bottomright;
    }

    @if ($bottomleft != 0) {
        border-bottom-left-radius: $bottomleft;
    }
}
