/// <reference path="../references" />

// Color contrast
@mixin color-yiq($background, $colorBasedOnBackground: false) {
    $result-color: $color-light;

    @if($colorBasedOnBackground) {
        $result-color: text-contrast($background);
    }
    @else if yiq($background) >= 150 {
        $result-color: $color-dark;
    }

    fill: $result-color;
    color: $result-color;

    a {
        color: text-contrast($link-color, $background);
    }
}
