/// <reference path="../references" />

// Color contrast
@mixin color-yiq($color, $best: false) {
    $result-color: $color-light;
    @if($best) {
        $result-color: text-contrast($color);
    }
    @else if yiq($color) >= 150 {
        $result-color: $color-dark;
    }

    fill: $result-color;
    color: $result-color;

    a {
        color: text-contrast($link-color, $color);
    }
}
