/// <reference path="../references" />

// Color contrast
@mixin color-yiq($color, $important: false, $textCorrection: false, $linkCorrection: false) {

    @if($textCorrection) {
        $corrected: text-contrast($color, $color);

        @if($important) {
            fill: $corrected !important;
            color: $corrected !important;
        }
        @else {
            fill: $corrected;
            color: $corrected;
        }
    }
    @else {
        @if (yiq($color) >= 150) {
            @if($important) {
                fill: $color-dark !important;
                color: $color-dark !important;
            }
            @else {
                fill: $color-dark;
                color: $color-dark;
            }
        }
        @else {
            @if($important) {
                fill: $color-light !important;
                color: $color-light !important;
            }
            @else {
                fill: $color-light;
                color: $color-light;
            }
        }
    }

    @if($linkCorrection) {
        a {
            color: text-contrast($link-color, $color);
        }
    }
}
