/// <reference path="../references" />

@function theme-border($value) {
    @return theme-color-level($value, 1);
}

@mixin theme-color($value) {
    @include color-yiq($value);
}

@mixin theme-element($background, $includeBorder: true, $best: false, $horizontal: false) {
    @include color-yiq($background, $best);

    @if $horizontal {
        background: theme-gradient-horizontal($background);
    }
    @else {
        background: theme-gradient-vertical($background);
    }

    @if $includeBorder {
        border: $component-border-width solid theme-border($background);
    }
}

@function get-theme-element-darken($background) {
    @return theme-darken($background);
}

@function get-theme-element-soft($background) {
    @return theme-soft($background);
}

@function get-theme-element-soft-darken($background) {
    @return theme-darken(theme-soft($background));
}

@mixin theme-element-darken($background, $includeBorder: true, $best: false, $vertical: true) {
    @include theme-element(theme-darken($background), $includeBorder, $best, $vertical);
}

@mixin theme-element-soft($background, $includeBorder: true, $best: false, $vertical: true) {
    @include theme-element(get-theme-element-soft($background), $includeBorder, $best, $vertical);
}

@mixin theme-element-soft-darken($background, $includeBorder: true, $best: false, $vertical: true) {
    @include theme-element(get-theme-element-soft-darken($background), $includeBorder, $best, $vertical);
}
