@mixin transition ($transition...) {
    /*-webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;*/
    transition: $transition;
}

@mixin button-transition($element) {
    @include transition($element 0.35s ease);
}

@mixin transform($string) {
    /*-webkit-transform: $string;
    -moz-transform: $string;
    -ms-transform: $string;
    -o-transform: $string;*/
    transform: $string;
}

@mixin translateX($string) {
    @include transform(translateX($string));
}

@mixin translateY($string) {
    @include transform(translateY($string));
}

@mixin translateZ($string) {
    @include transform(translateZ($string));
}

@mixin scale ($factor) {
    @include transform(scale($factor));
}

@mixin scaleX ($factor) {
    @include transform(scaleX($factor));
}

@mixin scaleY ($factor) {
    @include transform(scaleY($factor));
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin skew ($deg, $deg2) {
    @include transform(skew($deg, $deg2));
}

@mixin translate ($x, $y: 0) {
    @include transform(translate($x, $y));
}

@mixin translate3d ($x, $y: 0, $z: 0) {
    @include transform(translate3d($x, $y, $z));
}

@mixin transform-origin ($x: center, $y: center) {
    /*-webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;*/
    transform-origin: $x $y;
}