/// <reference path="../references" />

@mixin transition($property: all) {
    transition: $property $transition-duration $transition-timing;
}

@mixin transitions($transitions...) {
    $result: ();

    @for $i from 1 through length($transitions) {
        $prop: nth($transitions, $i);
        $result: append($result, $prop $transition-duration $transition-timing);

        @if $i != length($transitions) {
            $result: append($result, unquote($string: ","));
        }
    }

    transition: $result;
    will-change: $transitions;
}