/// <reference path="../../references" />

select {
    /*display: none;*/
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
}

.dropdown {
    position: relative;
    width: 100%;

    &.ellipsis {

        > div > div > label,
        > ul > li > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.align-left {
        > div > div > label,
        > ul > li > div {
            text-align: left;
        }
    }

    &.align-right {
        > div > div > label,
        > ul > li > div {
            text-align: right;
        }
    }

    &.direction-up {
        &.open {
            > div {
                @include border-radiuses(0, 0, $border-radius-base, $border-radius-base);

                > div > svg {
                    @include rotate(90);
                }
            }
        }

        > div > div > svg {
            @include rotate(270);
        }

        > ul {
            top: auto;
            bottom: calc(100% - #{$component-border-width});
            @include border-radiuses($border-radius-base, $border-radius-base, 0, 0);
        }
    }

    &.open {
        > div {
            @include border-radiuses($border-radius-base, $border-radius-base, 0, 0);

            > div > svg {
                @include rotate(270);
            }
        }

        > ul {
            display: block;
        }
    }

    > div {
        @include border-radius($border-radius-base);
        border: $component-border;
        overflow: hidden;
        width: 100%;

        > div {
            @include flex-display();
            @include border-radius(0);
            @extend .btn;

            @each $color, $value in $theme-colors {
                &.btn-#{$color} {
                    @extend .btn-#{$color};
                }
            }

            > label {
                flex-grow: 1;
                text-align: center;
            }

            > svg {
                @include rotate(90);
            }
        }
    }

    > ul {
        display: none;
        list-style-type: none;
        background-color: $gray-100;
        border: $component-border;
        position: absolute;
        top: calc(100% - #{$component-border-width});
        left: 0;
        right: 0;
        z-index: $dropdown-z-index;
        @include border-radiuses(0, 0, $border-radius-base, $border-radius-base);
        overflow: auto;
        max-height: ($btn-height * 4) + ($component-border-width * 4);

        > li {

            > div {
                @include border-radius(0);
                display: block;
                text-align: center;
            }

            &.selected {
                > div {
                    background-color: white;
                    cursor: default;
                }
            }

            & + li {
                border-top: $component-border;
            }
        }
    }
}
