/// <reference path="../../references" />

select {
    display: none;
}

$dropdown-height: rem(30px);
$dropdown-border-width: rem(1px);
$dropdown-padding: $dropdown-height / 3;
$dropdown-border-radius: rem(5);

.dropdown {
    width: 100%;
    cursor: pointer;
    position: relative;

    > div > label,
    > ul > li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    &.open {
        > div {
            @include border-radiuses($dropdown-border-radius, $dropdown-border-radius, 0, 0);

            & label {
            }
        }
    }

    > div {
        @include flex-display();
        @include border-radius($dropdown-border-radius);
        border: $component-border;

        > label {
            flex-grow: 1;
            cursor: pointer;
        }
    }

    &.open ul {
        display: block;
    }

    > ul {
        display: none;
        list-style-type: none;
        background-color: orange;
        border: $component-border;
        position: absolute;
        top: calc(100% - #{$dropdown-border-width});
        left: 0;
        right: 0;
        z-index: $dropdown-z-index;
        @include border-radiuses(0, 0, $dropdown-border-radius, $dropdown-border-radius);

        > li {
            height: $dropdown-height;
            @include border-radius(0);

            &.selected {
                background-color: yellow;
            }

            & + li {
                height: $dropdown-height + $component-border-width;
                border-top: $component-border;
            }
        }
    }
}
