/// <reference path="../../references" />

select {
    display: none;
}

$dropdown-border-radius: rem(5);

.dropdown {
    position: relative;

    &.ellipsis {

        > div > div > label,
        > ul > li > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.align-left {
        > div > div > label,
        > ul > li > div {
            text-align: left;
        }
    }

    &.align-right {
        > div > div > label,
        > ul > li > div {
            text-align: right;
        }
    }

    &.open {
        > div {
            @include border-radiuses($dropdown-border-radius, $dropdown-border-radius, 0, 0);

            > div {
                > svg {
                    @include rotate(270);
                }
            }
        }
    }

    > div {
        @include border-radius($dropdown-border-radius);
        border: $component-border;
        overflow: hidden;

        > div {
            @include flex-display();
            @include border-radius(0);

            > label {
                flex-grow: 1;
                text-align: center;
            }

            > svg {
                @include rotate(90);
            }
        }
    }

    &.open ul {
        display: block;
    }

    > ul {
        display: none;
        list-style-type: none;
        background-color: $gray-100;
        border: $component-border;
        position: absolute;
        top: calc(100% - #{$component-border-width});
        left: 0;
        right: 0;
        z-index: $dropdown-z-index;
        @include border-radiuses(0, 0, $dropdown-border-radius, $dropdown-border-radius);
        overflow: auto;
        max-height: ($btn-height * 4) + ($component-border-width * 4);

        > li {

            > div {
                @include border-radius(0);
                display: block;
                text-align:center;
            }

            &.selected {
                > div {
                    background-color: white;
                    cursor: default;
                }
            }

            & + li {
                border-top: $component-border;
            }
        }
    }
}
