/// <reference path="../../references" />

@mixin input-variant($background, $border, $color) {
    input[type=text],
    input[type=password],
    input[type=email] {
        color: $color;
        background-color: $background;
        border-color: $border;

        &:focus {
            @include box-shadow($input-box-shadow, 0 0 3 3px lighten($color, 20%));
        }
    }

    input[type=checkbox],
    input[type=radio] {
        & + label > i {
            border-color: $border;
            background-color: $background;
        }
    }
}

input[type=text],
input[type=password],
input[type=email] {
    padding: $padding-y-base $padding-x-base;
    min-height: $line-height-base + ($padding-y-base * 2);
    @include border-radius($border-radius-base);
    border: $component-border;
}

.form-group,
.form-group > div {
    @include flex-display;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    flex-grow: 1;
}

.form-group {

    > label {
        padding-right: $spacer;
        width: $form-label-width;
        line-height: $line-height-base + ($padding-y-base * 2);
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        width: 100%;
        @include box-shadow($input-box-shadow);

        &:focus {
            @include box-shadow($input-focus-box-shadow);
        }
    }

    > div {
        min-width: $form-input-min-width;
        width: calc(100% - #{$form-label-width});
    }

    &.danger {
        em {
            color: theme-color("danger");
            margin: ($spacer / 2) 0 $spacer 0;
        }
    }

    @each $color, $value in $theme-colors {
        &.#{$color} {
            @include input-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 8));
        }
    }
}
