/// <reference path="../../references" />

.radio,
.checkbox {
    position: relative;
    padding: ($padding-y * 2) 0;
    line-height: $line-height;

    > input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;

        &:checked + label > i {
            background-color: theme-color("primary");
        }
    }

    > label {
        @include flex-display;
        @include align-items(center);
        font-size: $font-size;
        @include flex-display;
        width: 100%;

        > i {
            display: block;
            width: $font-size;
            height: $font-size;
            border: $layout-border;
            margin-right: ($spacer / 2);
            position: relative;
            overflow: hidden;
            background-color: white;
            flex-shrink: 0;
        }
    }
}

.radio {
    > label > i,
    > label > i:before {
        @include border-radius(50%);
    }
}

.checkbox {
    > label > i > svg {
        display: none;
    }

    > input:checked + label > i {
        padding: rem(2px);

        > svg {
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: relative;
            fill: $white;
        }
    }
}
