/// <reference path="../../references" />

.slider {
    display: block;
    vertical-align: middle;
    position: relative;
    z-index:$component-z-index;

    &.slider-horizontal {
        margin: 0 ($slider-line-height / 2);
        height: $slider-line-height;

        .slider-track {
            height: $slider-line-height / 2;
            width: 100%;
            margin-top: -$slider-line-height / 4;
            top: 50%;
            left: 0;
        }

        .slider-selection {
            height: 100%;
            top: 0;
            bottom: 0;
        }

        .slider-tick,
        .slider-handle {
            margin-left: -$slider-line-height/2;
        }

        .slider-tick-container {
            white-space: nowrap;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    &.slider-vertical {
        width: $slider-line-height;

        .slider-track {
            width: $slider-line-height / 2;
            height: 100%;
            left: 25%;
            top: 0;
        }

        .slider-selection {
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .slider-tick,
        .slider-handle {
            margin-top: -$slider-line-height / 2;
        }
    }

    &.slider-disabled {
        .slider-track {
            cursor: not-allowed;
        }
    }

    input {
        display: none;
    }

    .tooltip-inner {
        white-space: nowrap;
        max-width: none;
    }

    .tooltip {
        &.top {
            margin-top: -36px;
        }
    }

    .tooltip-inner {
        white-space: nowrap;
        max-width: none;
    }

    .hide {
        display: none;
    }
}
.slider-track,
.slider-selection,
.slider-tick,
.slider-selection.tick-slider-selection {
    background-color: $slider-background-color-1;
}

.slider-track {
    @include border-radius($component-border-radius);
    position: absolute;
    cursor: pointer;
}

.slider-selection {
    @include border-radius($component-border-radius);
    position: absolute;
}

.slider-handle {
    position: absolute;
    top: 0;
    width: $slider-line-height;
    height: $slider-line-height;
    background-color: $slider-background-color-2;
    border: none;
    cursor: pointer;

    &.round {
        @include border-radius($slider-line-height);
    }
}

.slider-tick {
    @include box-sizing(border-box);
    position: absolute;
    width: $slider-line-height;
    height: $slider-line-height;
    filter: none;
    opacity: 0.8;
    border: none;

    &.round {
        @include border-radius(50%);
    }

    &.in-selection {
        opacity: 1;
    }
}
