/// <reference path="../references" />

@import "aside";
@import "breakpoints";
@import "content";
@import "flex-items.scss";
@import "footer";
@import "header";
@import "loading";
@import "section";

#main {
    /*min-width: $main-min-width;*/
    height: 100%;

    @include flex-display;

    @include flex-direction(column);

    &.left-overlay.left-open #content:before,
    &.right-overlay.right-open #content:before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $overlay-z-index;
        background-color: $overlay-background-color;
    }

    &:not(.msedge):not(.msie).transitions {
        // ie/edge doesn't support transition for values that uses calc()
        #left {
            @include transition(left 0.4s ease-in-out);
        }

        #right {
            @include transition(right 0.4s ease-in-out);
        }

        header,
        #content,
        footer {
            @include transition(margin 0.4s ease-in-out);
        }

        &.two-columns {
            #content .header {
                @include transition(width 0.4s ease-in-out, left 0.4s ease-in-out);
            }
        }
    }

    &.left-open {
        #left {
            left: 0;
            @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
        }
    }

    &.right-open {
        #right {
            right: 0;
            @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
        }
    }

    &.footer-fixed:not(.mobile) {
        #container > div {
            margin-bottom: $footer-height;
        }

        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &:not(.mobile) #container {
        margin-top: $header-height;
    }

    #container {
        flex-grow: 1;

        @include flex-display;

        @include flex-direction(column);

        > div {
            flex-grow: 1;
        }
    }
}
