/// <reference path="../references" />

aside {
    position: fixed;
    z-index: 49;
    // adding 100px extra height in top and bottom to fix positioning bug on "Chrome Mobile" when scrolling
    top: -100px;
    padding-top: calc(100px + #{$header-height});
    padding-bottom: calc(100px + #{$footer-height});
    height: calc(100% + 200px);
    width: 100%;
    max-width: $aside-width;
    background-color: $layout-background-color;
    flex-shrink: 0;
    flex-grow: 1;

    @include flex-display();
    @include flex-direction(column);


    > .header {
        span {
            display: block;
            padding: 5px 10px;
            text-align: center;
            background-color: $aside-header-background-color;
        }
    }

    &:hover > .content {
        visibility: visible;
    }

    > .header,
    > .footer {
        padding: $spacer;
    }

    > .content {
        overflow: auto;
        height: 100%; /*IE 10 */
        visibility: hidden;

        & > div,
        &:hover,
        &:focus {
            visibility: visible;
        }

        > div {
            padding: 0 $spacer;
        }

        &:first-child > div {
            padding-top: $spacer;
        }

        &:last-child > div {
            padding-bottom: $spacer;
        }
    }

    &#left {
        left: -$aside-width;
        border-right: $layout-border-width solid $layout-border-color;
    }

    &#right {
        right: -$aside-width;
        border-left: $layout-border-width solid $layout-border-color;

        > .content {
            direction: rtl;

            > div {
                direction: ltr;
            }
        }
    }
}
