/// <reference path="../references" />

aside {
    position: fixed;
    z-index: $aside-z-index;
    top: -$aside-extra-spacing;
    padding-top: $aside-extra-spacing;
    padding-bottom: $aside-extra-spacing;
    height: calc(100% + #{$aside-extra-spacing * 2});
    width: 100%;
    max-width: $aside-width;
    background-color: $layout-background-color;
    flex-shrink: 0;
    flex-grow: 1;
    margin-top: $header-height;

    @include flex-direction(column);

    @include flex-display;

    > .header {
        span {
            display: block;
            padding: $padding-y-base $padding-x-base;
            text-align: center;
            background-color: $aside-header-background-color;
        }
    }

    &:hover > .content {
        visibility: visible;
    }

    > .header,
    > .footer {
        padding: $spacer;
    }

    > .content {
        overflow: auto;
        height: 100%; /*IE 10 */
        visibility: hidden;

        & > div,
        &:hover,
        &:focus {
            visibility: visible;
        }

        > div {
            padding: 0 $spacer;
        }

        &:first-child > div {
            padding-top: $spacer;
        }

        &:last-child > div {
            padding-bottom: $spacer;
        }
    }

    &#left {
        left: -$aside-width;
        border-right: $layout-border;
    }

    &#right {
        right: -$aside-width;
        border-left: $layout-border;

        > .content {
            direction: rtl;

            > div {
                direction: ltr;
            }
        }
    }
}
