/// <reference path="../references" />

aside {
    position: fixed;
    z-index: $aside-z-index;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $layout-background-color;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    transform: none;

    @include breakpoint-aside-width {
        max-width: $aside-width;
    }

    html.ios &,
    html.android & {
        height: 100%;
    }

    > .content {
        overflow: auto;
        flex-grow: 1;

        > div {
            padding: $spacer;
        }
    }

    &#left {
        left: -100%;

        @include breakpoint-aside-width {
            left: -$aside-width;
            border-right: $layout-border;
        }

        html[data-aside="left"] & {
            transform: translateX(100%);
        }
    }

    &#right {
        right: -100%;

        @include breakpoint-aside-width {
            right: -$aside-width;
            border-left: $layout-border;

            > .content {
                direction: rtl;

                > div {
                    direction: ltr;
                }
            }
        }

        html[data-aside="right"] & {
            transform: translateX(-100%);
        }
    }

    html.desktop & {
        &:hover > .content,
        & > .content > div,
        & > .content:hover,
        & > .content:focus {
            visibility: visible;
        }

        & > .content {
            visibility: hidden;

            & > div,
            &:hover,
            &:focus {
                visibility: visible;
            }
        }
    }
}
