/// <reference path="../references" />

#authentication {
    html:not(.site-loaded) & {
        display: none;
    }

    html.site-loaded & {
        @include flex-display;
    }

    > div:last-child {
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        padding: $spacer;
        pointer-events: none;

        > div {
            pointer-events: all;
            max-height: calc(100vh - #{$header-height + ($spacer * 2)});
            overflow: auto;
            margin-left: auto;
            max-width: 300px;
            background-color: $white;
            border: $layout-border;
            box-shadow: 0 0 $spacer / 2 0 rgba(0,0,0,0.5);
            display: none;

            html[data-authentication="user"] &.user,
            html[data-authentication="login"] &.login,
            html[data-authentication="register"] &.register {
                display: block;
            }

            .form-group > div {
                min-width: unset;
            }

            &.login,
            &.register {
                form {
                    padding: $spacer;
                }
            }

            &.user {
                .info {
                    @include flex-display;
                    @include align-items(center);
                    padding: $spacer;
                    background-color: $gray-200;
                    border-bottom: $layout-border;

                    > i {
                        width: ($line-height * 2) + ($spacer / 2);
                        height: ($line-height * 2) + ($spacer / 2);
                        overflow: hidden;
                        position: relative;
                        flex-shrink: 0;

                        > * {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    > div {
                        @include flex-display;
                        @include flex-direction(column);
                        margin-left: $spacer;

                        #authenticated-username {
                            font-weight: $font-weight-bold;
                        }

                        #authenticated-email {
                            margin-top: $spacer / 2;
                        }
                    }
                }

                .links {
                    margin: $spacer / 2;

                    > a {
                        @include flex-display;
                        @include align-items(center);
                        padding: 10px;
                        color: $black;
                        text-decoration: none;

                        html.desktop &:focus,
                        html.desktop &:hover {
                            @include theme-element($gray-200, false);

                            > i > svg {
                                opacity: 1;
                            }
                        }

                        > i {
                            width: $font-size * $line-height;
                            height: $font-size * $line-height;
                            flex-shrink: 0;

                            > svg {
                                opacity: $opacity-inactive;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        > i + span {
                            margin-left: $spacer;
                        }

                        > span {
                            flex-grow: 1;
                        }
                    }

                    > hr {
                        margin: $spacer / 2 0;
                        border: none;
                        height: $layout-border-width;
                        background-color: $layout-border-color;
                    }
                }
            }
        }
    }

    .unauthenticated {
        &:not(.checked) {
            visibility: hidden;
            opacity: 0;
        }

        html:not(.signed-in) & {
            @include flex-display;
        }

        html.signed-in & {
            display: none;
        }

        &:not(.text) {
            > button {
                @extend .expand;

                > span {
                    display: none;
                }
            }
        }

        &.text {
            > button {
                color: text-contrast($link-color, $light);
                margin: ($spacer / 2);
                padding: 0 $padding-x;
                border-radius: $component-border-radius;
                border: $component-border-width solid transparent;
                white-space: nowrap;

                > svg {
                    display: none;
                }

                html.desktop &:focus,
                html.desktop &:hover {
                    @include theme-element-darken($link-color);
                    box-shadow: $box-shadow;
                }
            }
        }

        > span {
            margin: $spacer 0;
            width: $layout-border-width;
            background-color: $layout-border-color;
            flex-shrink: 0;
        }
    }

    .authenticated {
        html:not(.signed-in) & {
            display: none;
        }

        > button {
            > img + svg {
                display: none;
            }

            html.desktop &:focus,
            html.desktop &:hover {
                overflow: unset;
            }
        }
    }
}
