/// <reference path="../references" />

#authentication {
    html:not(.site-loaded) & {
        display: none;
    }

    html.site-loaded & {
        @include flex-display;
    }

    #unauthenticated {
        html:not(.signed-in) & {
            @include flex-display;
        }

        html.signed-in & {
            display: none;
        }

        > button {
            margin: ($spacer / 2);
            padding: 0 $padding-x;
            color: $link-color;
            border-radius: $component-border-radius;
            border: $component-border-width solid transparent;

            &:focus,
            html.desktop &:hover {
                @include theme-element-darken($primary);
                box-shadow: $box-shadow;
            }
        }

        > span {
            margin: $spacer 0;
            width: $layout-border-width;
            background-color: $layout-border-color;
        }
    }

    #authenticated {
        &:not(.open) > div,
        html:not(.signed-in) & {
            display: none;
        }

        html.desktop & > button:hover {
            overflow: unset;
        }

        > div {
            position: absolute;
            top: $header-height;
            left: 0;
            right: 0;
            padding: $spacer;
            pointer-events: none;

            > div {
                pointer-events: all;
                max-height: calc(100vh - #{$header-height + ($spacer * 2)});
                overflow: auto;
                margin-left: auto;
                max-width: 300px;
                background-color: $white;
                border: $layout-border;
                box-shadow: 0 0 $spacer / 2 0 rgba(0,0,0,0.5);


                #authenticated-user {
                    @include flex-display;
                    @include align-items(center);
                    padding: $spacer;
                    background-color: $gray-200;

                    > i {
                        width: ($line-height * 2) + ($spacer / 2);
                        height: ($line-height * 2) + ($spacer / 2);
                        border-radius: 50%;
                        overflow: hidden;
                        position:relative;

                        > * {
                            position:absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    > div {
                        @include flex-display;
                        @include flex-direction(column);
                        margin-left: $spacer;

                        #authenticated-username {
                            font-weight: $font-weight-bold;
                        }

                        #authenticated-email {
                            margin-top: $spacer / 2;
                        }
                    }
                }

                > ul {
                    margin: $spacer;
                }
            }
        }
    }
}
