/// <reference path="../references" />

main {
    height: 100%;

    @include flex-display;

    @include flex-direction(column);

    &.left-overlay.left-open #content:before,
    &.right-overlay.right-open #content:before {
        content: '';
        position: fixed;
        top: -$extra-spacing;
        bottom: -$extra-spacing;
        left: -$extra-spacing;
        right: -$extra-spacing;
        z-index: $overlay-z-index;
        background-color: $overlay-background-color;
    }

    &:not(.msie).transitions {
        // IE cannot display multiple transitions simultaneously correctly
        #left,
        .popup[data-position*="left"] {
            @include transition(left $transition-time $transition-timing);
        }

        #right,
        .popup[data-position*="right"] {
            @include transition(right $transition-time $transition-timing);
        }

        .popup[data-position*="center"] {
            @include transition(left $transition-time $transition-timing, right $transition-time $transition-timing);
        }

        header,
        #content,
        footer {
            @include transition(margin $transition-time $transition-timing);
        }


        &.two-columns {
            #content .header {

                &:not(.no-transitions) {
                    @include transition(width $transition-time $transition-timing, left $transition-time $transition-timing);
                }
            }
        }
    }

    &.left-open {
        #left {
            left: 0;
            @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
        }
    }

    &.right-open {
        #right {
            right: 0;
            @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
        }
    }

    &.footer-fixed:not(.mobile) {
        #container {
            margin-bottom: $footer-height;
        }

        footer {
            position: fixed;
            -webkit-backface-visibility: hidden;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

#container {
    @include flex-display;
    margin-top: $header-height;
    flex-grow: 1;
    flex-shrink: 0;

    > div {
        flex-grow: 1;
        width: 100%;
    }
}

header.header,
aside > .header {
    height: $header-height;
    border-bottom: $layout-border;
    @include flex-display;
    flex-shrink: 0;

    > .title {
        font-size: 1rem;
        font-weight: bold;
        line-height: $header-height;
        flex-grow: 1;
        @include ellipsis;
    }

    > .aside {
        position: relative;
        width: $header-height;
        height: $header-height;
        background-color: transparent;
        @include noselect;

        &.close {
            /*@include rotate(45);*/
        }

        > svg {
            margin-top: 50%;
            margin-left: 50%;
            @include translate(-50%, -50%);
            width: 50%;
            height: 50%;
            fill: #808080;
            @include button-transition(all);
        }
    }
}
