/// <reference path="../references" />

html {
    &.ios aside {
        height: 100%;
    }

    &.msedge:not(.footer-fixed).subpixel,
    &.msie:not(.footer-fixed).subpixel {
        body:after {
            content: '';
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: rem(2px);
            background-color: $footer-background-color;
            z-index: $footer-z-index;
        }
    }

    &.scrollDisabled {
        body {
            position: fixed;
        }

        main {
            overflow: hidden !important;
        }
    }

    &[data-aside="left"] {
        #left {
            left: 0;

            > .content {
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &[data-aside="right"] {
        #right {
            right: 0;

            > .content {
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &[data-aside="left"].left-push,
    &[data-aside="right"].right-push {
        #content > div > .content-header:not(.full) {
            margin-right: -($aside-width / 2);
            padding-right: $aside-width / 2;
        }
    }

    &.footer-fixed {
        #container {
            padding-bottom: $footer-height;
        }

        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

main {
    height: 100vh;
    @include flex-display;
    @include flex-direction(column);

    > svg {
        display: none;
    }
}

.header {
    height: $header-height;
    border-bottom: $layout-border;
    @include flex-display;
    flex-shrink: 0;
    @include theme-element($light, false);

    html.desktop & {
        > button:hover {
            overflow: hidden;

            svg {
                opacity: 1;
                width: 75%;
                height: 75%;
            }
        }
    }

    > .title {
        margin: 0;
        padding: 0 $padding-x;
        font-size: 1rem;
        font-weight: bold;
        line-height: $header-height;
        flex-grow: 1;
        @include ellipsis;
    }

    > button {
        position: relative;
        width: $header-height-content;
        height: $header-height-content;
        background-color: transparent;
        @include noselect;
        flex-shrink: 0;

        &:focus > svg {
            opacity: 1;
        }

        > svg {
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
            opacity: .5;
            @include button-transition(all);
        }
    }
}
