/// <reference path="../references" />

html {
    overflow-y: scroll;
    overflow-x: hidden;

    &.scrollDisabled {

        /*&.msedge,
        &.msie {
            height: calc(100% - .5px);

            body {
                height: calc(100% - .5px);
            }
        }*/

            main {
                overflow: hidden;
            }
        
    }

    &[data-aside="left"] {
        #left {
            left: 0;

            > .content {
                @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
            }
        }
    }

    &[data-aside="right"] {
        #right {
            right: 0;

            > .content {
                @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.1));
            }
        }
    }

    &[data-aside="left"].left-push,
    &[data-aside="right"].right-push {
        #content > div > .header {
            margin-right: -($aside-width / 2);
            padding-right: $aside-width / 2;
        }
    }

    &.footer-fixed:not(.mobile) {
        #container {
            padding-bottom: $footer-height;
        }

        footer {
            position: fixed;
            @include backface-visibility;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    height: 100%;
    @include flex-display;
    @include flex-direction(column);
}

header.header,
aside > .header {
    height: $header-height;
    border-bottom: $layout-border;
    @include flex-display;
    flex-shrink: 0;

    > .title {
        font-size: 1rem;
        font-weight: bold;
        line-height: $header-height;
        flex-grow: 1;
        @include ellipsis;
    }

    > .aside {
        position: relative;
        width: $header-height;
        height: $header-height;
        background-color: transparent;
        @include noselect;

        &:focus > svg {
            fill: $aside-icon-hover-background-color;
        }

        &.close {
            /*@include rotate(45);*/
        }

        > svg {
            margin-top: 50%;
            margin-left: 50%;
            @include translate(-50%, -50%);
            width: 50%;
            height: 50%;
            fill: $aside-icon-background-color;
            @include button-transition(all);
        }
    }
}

#fullscreen, #loading {
    @include overlay;
    background-color: $overlay-background-color;
    @include flex-center;
}
