/// <reference path="../references" />

@mixin breakpoint-main-min-width {
    @media (min-width: $breakpoint-main-min-width) {
        @content;
    }
}

@mixin breakpoint-small-one-column {
    @media (max-width: $breakpoint-one-column) {
        @content;
    }
}

@mixin breakpoint-medium-one-column {
    @media (min-width: $breakpoint-one-column) {
        @content;
    }
}

@mixin breakpoint-two-columns {
    @media (min-width: $breakpoint-two-columns) {
        @content;
    }
}

#main {
    @include breakpoint-main-min-width {
        #content {
            > .header {
                > div {
                    bottom: $spacer * 4;
                }

                & + .content > div {
                    margin-top: -$spacer * 6;
                    min-height: 7rem;
                }
            }

            > .content {
                padding: $spacer * 2;
            }
        }
    }

    @include breakpoint-small-one-column {
        &.mobile {
            &.left-open,
            &.right-open {
                overflow: hidden;
            }

            aside#right > .content {
                direction: ltr;

                > div {
                    direction: ltr;
                }
            }
        }
    }

    @include breakpoint-medium-one-column {
        &.left-open {
            header,
            #content,
            footer {
                margin-left: $aside-width;
            }
        }

        &.right-open {
            header,
            #content,
            footer {
                margin-right: $aside-width;
            }
        }

        aside {
            margin-top: 0;
        }
    }

    &.two-columns {
        @include breakpoint-two-columns {

            &.left-open,
            &.right-open {
                #content .header {
                    width: calc(50% - #{$aside-width / 2}) !important;
                }
            }

            &.left-open #content > .header {
                left: $aside-width !important;
            }

            &.footer-fixed.mobile #content > .header,
            &:not(.footer-fixed) #content > .header {
                bottom: 0;
            }

            &.footer-fixed:not(.mobile) #content > .header {
                bottom: $footer-height;
            }

            #content {
                @include flex-display;

                > .header {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: auto;

                    > div {
                        bottom: 0;
                    }

                    & + .content {
                        width: 50%;
                        margin: 0 0 0 auto;

                        > div {
                            margin-top: 0;
                        }
                    }
                }

                > .content {
                    width: 100%;
                }
            }
        }
    }
}
