/// <reference path="../references" />

@mixin breakpoint-main-min-width {
    @media (min-width: $breakpoint-main-min-width) {
        @content;
    }
}

@mixin breakpoint-small-one-column {
    @media (max-width: $breakpoint-one-column) {
        @content;
    }
}

@mixin breakpoint-medium-one-column {
    @media (min-width: $breakpoint-one-column) {
        @content;
    }
}

@mixin breakpoint-two-columns {
    @media (min-width: $breakpoint-two-columns) {
        @content;
    }
}

html {
    @include breakpoint-main-min-width {
        #content > div {
            > .header {
                > div {
                    bottom: $spacer * 4;
                }

                & + .content {
                    margin-top: -$spacer * 6;
                    min-height: 7rem;
                }
            }

            > .content {
                padding: 0 ($spacer * 2) ($spacer * 2) 0;

                > div {
                    margin: ($spacer * 2) 0 0 ($spacer * 2);
                    width: calc(100% - #{$spacer * 2});
                }
            }
        }
    }

    @include breakpoint-small-one-column {
        &[data-aside="left"] #content:before,
        &[data-aside="right"] #content:before {
            @include overlay;
            content: '';
            z-index: $overlay-z-index;
            background-color: $content-overlay-background-color;
        }
    }

    @include breakpoint-medium-one-column {
        &:not(.left-push)[data-aside="left"] #content:before,
        &:not(.right-push)[data-aside="right"] #content:before {
            @include overlay;
            content: '';
            z-index: $overlay-z-index;
            background-color: $content-overlay-background-color;
        }

        &[data-aside="left"].left-push aside,
        &[data-aside="right"].right-push aside {
            height: 100vh;
        }

        &[data-aside="left"].left-push {
            header,
            #content,
            footer {
                margin-left: $aside-width;
            }

            .popup[data-position*="center"],
            .popup[data-position*="left"] {
                left: $aside-width;
            }
        }

        &[data-aside="right"].right-push {
            header,
            #content,
            footer {
                margin-right: $aside-width;
            }

            .popup[data-position*="center"],
            .popup[data-position*="right"] {
                right: $aside-width;
            }
        }

        &.left-push #left,
        &.right-push #right {
            margin-top: 0;
        }
    }

    &.two-columns {
        @include breakpoint-two-columns {

            &[data-aside="left"].left-push,
            &[data-aside="right"].right-push {
                #content > div > .header {
                    width: calc(50% - #{$aside-width / 2});
                }
            }

            &[data-aside="left"].left-push #content > div > .header {
                left: $aside-width;
            }

            &.footer-fixed.mobile #content > div > .header,
            &:not(.footer-fixed) #content > div > .header {
                bottom: 0;
            }

            &.footer-fixed:not(.mobile) #content > div > .header {
                bottom: $footer-height;
            }

            #content {
                > div {

                    > .header {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: auto;

                        > div {
                            top: $header-height;
                            bottom: 0;
                        }

                        & + .content {
                            width: 50%;
                            margin: 0 0 0 auto;
                        }
                    }

                    > .content:first-child {
                        width: 100%;
                        @include flex-direction(row);
                    }
                }
            }
        }
    }
}
