/// <reference path="../references" />

#container {

    @media screen {
        @include flex-display;
        flex-grow: 1;
        flex-shrink: 0;
        margin-top: $header-height;

        html.footer-fixed & {
            padding-bottom: $footer-height;
        }
    }

    > div {
        flex-grow: 1;
        width: 100%;
    }
}
