/// <reference path="../references" />

#content {

    @media screen {
        overflow: hidden;

        html[data-aside="left"].left-push & {
            margin-left: $aside-width;
            margin-right: -$aside-width;
        }

        html[data-aside="right"].right-push & {
            margin-left: -$aside-width;
            margin-right: $aside-width;
        }
    }

    > div {
        > .content-header {
            position: relative;

            &:not(.full) {
                height: $content-header-height;

                @media screen {
                    html[data-aside="left"].left-shrink &,
                    html[data-aside="right"].right-shrink & {
                        margin-right: -($aside-width / 2);
                        padding-right: $aside-width / 2;
                    }
                }

                > div > div {
                    max-width: $content-max-width - ($spacer * 2);
                }
            }

            &.full {
                height: calc(100vh - #{$header-height + $footer-height});
            }

            min-height: $content-header-min-height;
            overflow: hidden;

            > div {
                width: 100%;
                height: 100%;

                > div {
                    z-index: 2;
                    position: absolute;
                    @include flex-center;
                    @include flex-direction(column);
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    width: 100%;

                    @media screen {
                        padding: $spacer;
                    }
                }

                .title {
                    display: block;
                    font-size: 3rem;
                    line-height: 3.5rem;
                    max-width: 100%;
                }

                .author {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: normal;
                    max-width: 100%;
                }
            }
        }

        > .content {
            position: relative;

            @media screen {
                @include flex-display;
                @include flex-direction(column);
                @include justify-content(center);
            }

            > div {
                @media screen {
                    padding: $spacer;
                }

                z-index: 1;
                background-color: $layout-background-color;
                @include align-self(center);
                width: 100%;

                &:not(.full-width) {
                    max-width: $content-max-width - ($spacer * 2);
                }
            }
        }
    }
}
