/// <reference path="../references" />

#content .content.container {
    /*padding: 0 0 $spacer $spacer;*/
    @include flex-display;
    @include flex-direction(column);
    @include flex-wrap(wrap);

    &.small {

    }

    > div:nth-child(1) {
        background-color: red;
    }

    > div:nth-child(2) {
        background-color: orange;
    }

    > div:nth-child(3) {
        background-color: blue;
    }
}
