/// <reference path="../references" />

#content {

    > div {
        /*@include flex-display;
        @include justify-content(center);*/

        > .header {
            position: relative;
            height: $content-header-height;
            min-height: $content-header-min-height;

            &:before {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
            }

            &.dark {
                &:before {
                    background-color: rgba(0, 0, 0, 0.4);
                }

                > div {
                    color: white;
                }
            }

            &.light {
                &:before {
                    background-color: rgba(255, 255, 255, 0.4);
                }

                > div {
                    color: #202020;
                }
            }

            > div {
                position: absolute;
                z-index: 2;
                @include flex-display;
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                top: 0;
                bottom: 0;
                max-width: $content-max-width - ($spacer * 2);
                margin: 0 auto;
                text-align: center;
                width: 100%;
                padding: $spacer;

                .title {
                    display: block;
                    font-size: 3rem;
                    line-height: 3.5rem;
                }

                .author {
                    margin-top: $spacer;
                    display: block;
                    font-size: 1.5rem;
                    font-weight: normal;
                }
            }
        }

        > .content {
            position: relative;
            z-index: 2;
            @include flex-display;
            @include flex-direction(column);
            @include justify-content(center);
            > div {
                padding: $spacer;
                background-color: $layout-background-color;
                @include align-self(center);

                &:not(.full-width) {
                    max-width: $content-max-width - ($spacer * 2);
                }
            }
        }
    }
}
