/// <reference path="../references" />

html[data-status="error"] {
    &.wf-active #content {

        #error-title {
            font-family: $font-bebas-neue;
            letter-spacing: font-bebas-neue-line-height($error-title-font-size);
        }

        #error-description {
            font-family: $font-bebas-neue;
            letter-spacing: font-bebas-neue-line-height($error-description-font-size);
        }
    }

    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        color: $error-color;
        background-image: url(/dist/img/error/background.jpg);

        > div {
            background-color: transparent;
            padding: $spacer;
            max-width: $container-medium;

            .img-container {
                $image-size: rem(200px);
                width: $image-size;
                height: $image-size;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: $danger;
                    opacity: 0;
                    animation: flicker-background 2s linear infinite;

                    @keyframes flicker-background {
                        // center
                        0% {
                            opacity: 1;
                        }

                        10% {
                            opacity: 0;
                        }

                        20% {
                            opacity: 1;
                        }

                        30% {
                            opacity: 0;
                        }
                    }
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    animation: flicker-image 2s linear infinite;
                    $move-size: $spacer-1;

                    @keyframes flicker-image {
                        // center
                        0% {
                            top: 50%;
                            left: 50%;
                            opacity: 1;
                        }
                        // top center
                        5% {
                            top: calc(50% - #{$move-size});
                            left: 50%;
                            opacity: .5;
                        }
                        // bottom center
                        10% {
                            top: calc(50% + #{$move-size});
                            left: 50%;
                            opacity: .75;
                        }
                        // left center
                        15% {
                            top: 50%;
                            left: calc(50% - #{$move-size});
                            opacity: 1;
                        }
                        // right center
                        20% {
                            top: 50%;
                            left: calc(50% + #{$move-size});
                            opacity: .5;
                        }
                        // top center
                        25% {
                            top: calc(50% - #{$move-size});
                            left: 50%;
                            opacity: .75;
                        }
                        // center
                        30% {
                            top: 50%;
                            left: 50%;
                            opacity: 1;
                        }
                    }
                }
            }

            .text-container {
                text-align: center;

                #error-title {
                    display: block;
                    font-size: $error-title-font-size;
                    line-height: $error-line-height;
                    max-width: 100%;
                }

                #error-description {
                    display: block;
                    font-size: $error-description-font-size;
                    line-height: $error-line-height;
                    font-weight: normal;
                    max-width: 100%;
                }
            }
        }
    }
}
