/// <reference path="../references" />

$flex-space-base: $spacer / 4;

.flex-items {
    @include flex-display;


    @for $i from 1 through 10 {
        // loop to create all needed elements automatically
        &.space-#{$i} {
            margin-top: -($flex-space-base * $i);
            margin-left: -($flex-space-base * $i);

            > * {
                margin-top: ($flex-space-base * $i);
                margin-left: ($flex-space-base * $i);
            }
        }
    }

    &.no-spacing {
        margin-top: 0;
        margin-left: 0;

        > * {
            margin-top: 0;
            margin-left: 0;
            border-radius: 0;
        }
    }

    &:not(.column) {
        @include flex-direction(column);
    }

    &.vertical-center {
        @include align-items(center);
    }

    &.column {

        &:not(.vertical-center) {
            @include align-items(flex-start);
        }
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.grow {
        > * {
            flex-grow: 1;
        }
    }

    &.expand {
        > * {
            flex-grow: 1;
        }
    }

    &.center {
        > * {
            @include align-self(center);
        }
    }
}
