/// <reference path="../references" />

.flex {
    @include flex-display;
    @include flex-direction(column);

    @for $i from 1 through 10 {
        &.space-#{$i} {
            margin-top: -($flex-space-base * $i);
            margin-left: -($flex-space-base * $i);

            > * {
                margin-top: ($flex-space-base * $i);
                margin-left: ($flex-space-base * $i);
                max-width: calc(100% - #{$flex-space-base * $i});
            }
        }
    }

    &.no-spacing {
        margin-top: 0;
        margin-left: 0;

        > * {
            margin-top: 0;
            margin-left: 0;
            border-radius: 0;
        }
    }

    &.vertical-center {
        @include align-items(center);
    }

    &.column {
        @include flex-direction(row);

        &:not(.vertical-center) {
            @include align-items(flex-start);
        }
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.grow > * {
        flex-grow: 1;
    }

    &.expand > * {
        flex-grow: 1;
    }

    &.center {
        @include justify-content(center);

        > * {
            @include align-self(center);
        }
    }
}
