/// <reference path="../references" />

.flex-items {
    margin-top: -$spacer;
    margin-left: -$spacer;
    @include flex-display;
    /*width: calc(100% + #{$spacer});*/
    > * {
        margin-top: $spacer;
        margin-left: $spacer;
    }

    &:not(.column) {
        @include flex-direction(column);
    }

    &.column {
        @include align-items(flex-start);
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.grow {
        > * {
            flex-grow: 1;
        }
    }

    &.center {
        > * {
            @include align-self(center);
        }
    }

    &.small {
        margin-top: -($spacer / 2);
        margin-left: -($spacer / 2);
        width: calc(100% + #{$spacer / 2});

        > * {
            margin-top: ($spacer / 2);
            margin-left: ($spacer / 2);
        }
    }

    &.smallest {
        margin-top: -($spacer / 4);
        margin-left: -($spacer / 4);
        width: calc(100% + #{$spacer / 4});

        > * {
            margin-top: ($spacer / 4);
            margin-left: ($spacer / 4);
        }
    }

    &.large {
        margin-top: -($spacer * 2);
        margin-left: -($spacer * 2);
        width: calc(100% + #{$spacer * 2});

        > * {
            margin-top: ($spacer * 2);
            margin-left: ($spacer * 2);
        }
    }

    &.largest {
        margin-top: -($spacer * 4);
        margin-left: -($spacer * 4);
        width: calc(100% + #{$spacer * 4});

        > * {
            margin-top: ($spacer * 4);
            margin-left: ($spacer * 4);
        }
    }
    /*& + .flex-items {
        margin-top: $spacer / 2;
    }*/
}
