/// <reference path="../references" />

.flex-items {
    @include flex-display;
    margin-top: -($spacer / 2);
    margin-left: -($spacer / 2);
    /*width: calc(100% + #{$spacer / 2});*/
    > * {
        margin-top: ($spacer / 2);
        margin-left: ($spacer / 2);
    }


    &:not(.column) {
        @include flex-direction(column);
    }

    &.column {
        @include align-items(flex-start);
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.grow {
        > * {
            flex-grow: 1;
        }
    }

    &.center {
        > * {
            @include align-self(center);
        }
    }

    &.large {
        margin-top: -$spacer;
        margin-left: -$spacer;
        /*width: calc(100% + #{$spacer});*/
        > * {
            margin-top: $spacer;
            margin-left: $spacer;
        }
    }

    &.largest {
        margin-top: -($spacer * 2);
        margin-left: -($spacer * 2);
        /*width: calc(100% + #{$spacer * 2});*/
        > * {
            margin-top: ($spacer * 2);
            margin-left: ($spacer * 2);
        }
    }
}
