/// <reference path="../references" />


html.focus {
    &[data-focus="true"] {
        body,
        aside .content > div * {
            pointer-events: none;
            user-select: none;
        }

        aside .content {
            pointer-events: all;
        }

        #focus {
            display: block;
        }
    }

    header .focus {
        display: block;
    }
}

header .focus,
#focus {
    display: none;
}

#focus {
    $reading-line-spacer: rem(50px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $focus-z-index;
    pointer-events: none;
    height: 100vh;

    html.ios &,
    html.android & {
        height: 100%;
    }

    html[data-focus="true"].focus & {
        display: block;
    }

    > .component {
        position: absolute;
        top: $reading-line-spacer;
        bottom: $reading-line-spacer;
        left: 0;
        right: 0;

        > div {
            position: absolute;
            top: calc(50% - #{$reading-line-spacer});
            left: 0;
            right: 0;
            flex-shrink: 0;
            min-height: 50px;
            height: 100px;
            max-height: 50vh;

            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 100vh;
                left: 0;
                right: 0;
                background-color: rgba($gray-100, 0.8);
                pointer-events: none;
            }

            &:before {
                bottom: 100%;
            }

            &:after {
                top: 100%;
            }
        }
    }

    .close {
        position: absolute;
        top: $reading-line-spacer / 2;
        right: $reading-line-spacer / 2;
        transform: translate(50%, -50%);
        pointer-events: all;
    }

    .move {
        position: absolute;
        left: $reading-line-spacer / 2;
        bottom: calc(100% + #{$reading-line-spacer / 2});
        transform: translate(-50%, 50%);
        pointer-events: all;
    }

    .resize {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: all;
        z-index: 1;

        &.ui-resizable-n {
            bottom: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.ui-resizable-s {
            top: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
