/// <reference path="../references" />

footer {
    z-index: $footer-z-index;
    height: $footer-height;
    border-top: $layout-border-width solid $footer-border-color;
    background-color: $footer-background-color;
    color: $footer-color;
    flex-shrink: 0;
    @include flex-display;
    @include align-items(center);

    > p {
        padding: 0 $spacer;
        /*line-height: $footer-height;*/
        @include ellipsis;
    }
}
