/// <reference path="../references" />

footer {
    z-index: 99;
    height: $footer-height;
    padding: 0 $spacer;
    border-top: $layout-border-width solid $layout-border-color-light;
    background-color: $footer-background-color;
    line-height: $footer-height;
}
