/// <reference path="../references" />

html {
    &[data-aside="left"].left-push footer {
        left: $aside-width;
        right: -$aside-width;
    }

    &[data-aside="right"].right-push footer {
        left: -$aside-width;
        right: $aside-width;
    }
}

footer {
    position: relative;
    left: 0;
    right: 0;
    z-index: $footer-z-index;
    height: $footer-height;
    border-top: $layout-border-width solid $footer-border-color;
    background-color: $footer-background-color;
    color: $footer-color;
    flex-shrink: 0;
    @include flex-display;
    @include align-items(center);

    > p {
        padding: 0 $spacer;
        /*line-height: $footer-height;*/
        @include ellipsis;
    }
}
