/// <reference path="../references" />

header {
    @media screen {
        position: fixed;
        bottom: calc(100% - $header-height);
        right: 0;
        left: 0;
        z-index: $header-z-index;

        html[data-aside="left"].left-push & {
            left: $aside-width;
            right: -$aside-width;
        }

        html[data-aside="right"].right-push & {
            left: -$aside-width;
            right: $aside-width;
        }
    }

    .aside:not(.loaded) {
        opacity: 0;
        pointer-events: none;
    }

    #title:not(:empty) {
        display: none;
        position: relative;
        padding-left: ($spacer / 2) + ($spacer / 4);
        @include ellipsis;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            @include transform(translateY(-50%));
            width: $spacer / 4;
            height: $spacer / 4;
            background-color: currentColor;
            border-radius: 50%;
            opacity: $opacity-inactive;
        }
    }

    h1 {
        @include flex-display;
        @include align-items(center);

        > a {
            @include flex-display;
            @include align-items(center);
            height: $header-height-content;
            text-decoration: none;
            padding: 0 $spacer / 2;

            > svg {
                transition: transform $transition-time $transition-timing;
            }

            html.desktop &:focus,
            html.desktop &:hover {
                color: $black;

                > svg {
                    @include transform(rotate(120deg));
                }
            }
        }
    }
}

.header {
    height: $header-height;
    border-bottom: $layout-border;
    @include flex-display;
    flex-shrink: 0;
    @include theme-element($light, false);

    > .title:first-child {
        padding-left: $padding-x;
    }

    > .title:last-child {
        padding-right: $padding-x;
    }

    > .title {
        margin: 0;
        font-size: $font-size;
        font-weight: bold;
        flex-grow: 1;
        @include ellipsis;
        line-height: $header-height-content;

        svg + span,
        span + svg {
            margin-left: $spacer / 4;
        }

        img,
        svg {
            width: $font-size;
            height: $font-size;
            fill: currentColor;
        }
    }

    button.expand {
        position: relative;
        width: $header-height-content;
        height: $header-height-content;
        background-color: transparent;
        @include noselect;
        flex-shrink: 0;
        overflow: hidden;

        html.desktop &:hover {
            > img,
            > svg {
                width: $spacer * 2;
                height: $spacer * 2;
            }
        }

        html.desktop &:hover,
        html.desktop &:focus {
            > img,
            > svg {
                opacity: 1;
            }
        }

        > img,
        > svg {
            margin-top: 50%;
            margin-left: 50%;
            @include transform(translate(-50%, -50%));
            width: $spacer-base * 6;
            height: $spacer-base * 6;
            opacity: $opacity-inactive;
            @include button-transition(all);
        }
    }
}
