/// <reference path="../references" />

#loading {
    > .spinner {
        &:before {
            background-color: $overlay-background-color-light;
            border: (($font-size * 3) / 5) solid $loader-background-color;
        }

        > div {
            background-color: $loader-background-color;
        }
    }
}
