/// <reference path="../references" />

#fullscreen, #loading {
    @include overlay;
    background-color: $overlay-background-color;
    @include flex-display;
    @include justify-content(center);
    @include align-items(center);
}

#fullscreen {
    z-index: $fullscreen-z-index;

    > div {
        @include flex-display;
        @include align-items(flex-start);
        position: relative;

        > img {
            max-width: 100%;
            max-height: 100vh;
            width: auto !important;
            height: auto !important;
            background-color: transparent;
        }
    }
}

#loading {
    z-index: $loading-z-index;
    @include noselect;

    > .spinner {
        height: $font-size * 4;
        @include flex-display;

        > div {
            background-color: $loader-background-color;
            height: 100%;
            margin: 0 ($font-size / 4);
            width: ($font-size * 3) / 5;
            @include animation(sk-stretchdelay, 1.2s, infinite, ease-in-out);
        }

        > .rect2 {
            @include animation-delay(-1.1s);
        }

        > .rect3 {
            @include animation-delay(-1.0s);
        }

        > .rect4 {
            @include animation-delay(-0.9s);
        }

        > .rect5 {
            @include animation-delay(-0.8s);
        }
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        @include scaleY(0.4);
    }

    20% {
        @include scaleY(1);
    }
}
