/// <reference path="../references" />

body {
    > #loading {
        position: fixed;
        display: none;
        z-index: $loading-z-index;
        top: -$extra-spacing;
        right: -$extra-spacing;
        bottom: -$extra-spacing;
        left: -$extra-spacing;
        background-color: rgba(255, 255, 255, 0.6);

        > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
            width: $loading-width;
            height: $loading-width;
        }
    }

    &.loading > #loading {
        display: block;
    }
}
