/// <reference path="../references" />

main {
    @media screen {
        @include flex-display;
        @include flex-direction(column);
        height: 100vh;

        html.scroll-disabled & {
            overflow: hidden !important;
        }
    }

    > svg {
        display: none;
    }
}
