/// <reference path="../references" />

main {
    height: 100vh;
    @include flex-display;
    @include flex-direction(column);

    @media screen {
        html.scroll-disabled & {
            overflow: hidden !important;
        }
    }

    > svg {
        display: none;
    }
}