/// <reference path="../references" />

main {
    @media screen {
        @include flex-display;
        @include flex-direction(column);
        height: 100vh;

        html.android & {
            position: fixed;
            left: 0;
            right: 0;
            overflow: auto;
        }

        html.scroll-disabled & {
            overflow: hidden !important;
        }
    }

    > svg {
        display: none;
    }
}
