/// <reference path="../references" />

.position {
    position: absolute;
    z-index: $popup-z-index;
    left: 0;
    right: 0;
    pointer-events: none;
    padding: 0 $spacer;
    @include flex-display;
    @include flex-direction(column);

    > * {
        margin: $spacer 0;
        max-width: $container-medium;
        /*flex-grow: 1;*/
        pointer-events: all;

        & + * {
            margin-top: 0;
        }
    }

    &.top {
        top: 0;
    }

    &.middle {
        top: 50%;
        @include translateY(-50%);
    }

    &.bottom {
        bottom: 0;
    }

    &.left > * {
        @include align-self(flex-start);
    }

    &.center > * {
        @include align-self(center);
    }

    &.right > * {
        @include align-self(flex-end);
    }
}
