/// <reference path="../references" />

@media print {
    *, *:before, *:after {
        box-shadow: none !important;
        color: $black !important;
        text-shadow: none !important;
        background: transparent !important;
        border-color: $component-border-color !important;
    }

    svg {
        fill: $black !important;
        opacity: 1 !important;
    }

    a {
        color: $link-color !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    header > button,
    .header > #authentication,
    footer,
    aside,
    .popup,
    .alert > .close,
    html.modal #container,
    .dropdown > ul,
    ol.list li > button:after,
    ol.list li > a:after {
        display: none !important;
    }

    ul.list li:before {
        border-bottom: $list-bullet-width solid currentColor !important;
        border-right: $list-bullet-width solid currentColor !important;
    }

    header #title:not(:empty):before {
        border-bottom: ($spacer / 4) solid currentColor !important;
        border-right: ($spacer / 4) solid currentColor !important;
    }

    #content > div {
        > .content-header.full {
            height: calc(100vh - #{$header-height});
        }

        > .content > div {
            padding: $spacer 0 0 0;
        }
    }

    .accordion > div > .headline {
        font-weight: $font-weight-bold;
    }

    .radio > input:checked + label > i {
        &:before {
            border-color: $white !important;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, - 50%);
            border-radius: 50%;
            border-bottom: $font-size - ($component-border-width * 9) solid $component-border-color;
            border-right: $font-size - ($component-border-width * 9) solid $component-border-color;
        }
    }

    .switch > label > i:before {
        margin: $component-border-width * 2;
        border-bottom: $font-size - ($component-border-width * 6) solid $component-border-color;
        border-right: $font-size - ($component-border-width * 6) solid $component-border-color;
        width: 0 !important;
        height: 0 !important;
    }

    .percentage > span {
        $height: $component-line-height + ($padding-y * 2) + ($component-border-width * 2);
        border-bottom: $height solid $component-border-color;
        height: 0;
        padding: 0 $padding-x !important;
        line-height: $height;
    }

    .progress > div > .line:first-child + .number {
        &:before {
            z-index:-1;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, - 50%);
            border-radius: 50%;
            border-bottom: (($spacer * 3) - $component-border-width) solid white !important;
            border-right: (($spacer * 3) - $component-border-width) solid white !important;
        }
    }
}
