/// <reference path="../references" />

@media print {
    *, *:before, *:after {
        box-shadow: none !important;
        color: black !important;
        text-shadow: none !important;
        background: transparent !important;
    }

    svg {
        fill: black !important;
        opacity: 1 !important;
    }

    a {
        color: $link-color !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    ul.list li:before {
        border-bottom: $list-bullet-width solid currentColor;
        border-right: $list-bullet-width solid currentColor;
        width: inherit;
        height: inherit;
    }

    header > button,
    .header > #authentication,
    footer,
    aside {
        display: none;
    }

    html.modal {
        #container {
            display: none;
        }
    }

    #content > div > .content-header.full {
        height: calc(100vh - #{$header-height});
    }
}
