/// <reference path="../references" />

html.transitions {
    #left,
    .popup[data-position*="left"] {
        transition: left $transition-time $transition-timing;
    }

    #right,
    .popup[data-position*="right"] {
        transition: right $transition-time $transition-timing;
    }

    .popup[data-position*="center"] {
        transition: left $transition-time $transition-timing, right $transition-time $transition-timing;
    }

    header,
    #content,
    footer {
        transition: margin $transition-time $transition-timing;
    }

    #content .header {
        transition: left $transition-time $transition-timing, margin-right $transition-time $transition-timing, padding-right $transition-time $transition-timing;
    }
}
