/// <reference path="../references" />

.accordion {
    @include border-radius(.5rem);
    overflow: hidden;
    border: $component-border;

    > div {
        > .headline {
            @include border-radius(0);
        }

        > .content {
            padding: $spacer;
            display: none;
            border-top: $component-border;
        }

        & + div {
            border-top: $component-border;
        }
    }
}
