/// <reference path="../references" />

@mixin layoutr-accordion {
    .accordion {
        border-radius: $component-border-radius;
        overflow: hidden;
        border: $component-border;
        z-index: $component-z-index;

        > div {
            > .headline {
                border-radius: 0;
                @extend .btn;
                @extend .btn.theme-light;
                border: none !important;

                &.badge {
                    &:not(.align-left):not(.align-right) > span:first-child {
                        text-align: center;
                    }

                    &.align-right > span:first-child {
                        text-align: right;
                    }

                    > span:first-child {
                        flex-grow: 1;
                    }

                    > span:last-child {
                        margin-left: $spacer;
                        padding: 0 $padding-y;
                        border-radius: $spacer-base * 2;
                        @include theme-element(background-percentage($light, $badge-percentage), true, true);
                    }
                }

                @each $color, $value in $theme-colors {
                    &.btn.theme-#{$color}.badge > span:last-child {
                        @include theme-element(background-percentage($value, $badge-percentage), true, true);
                    }

                    html.desktop &.btn.theme-#{$color}:focus {
                        $active-background: darken($value, 7.5%);
                        @include color-yiq($active-background);
                        background: theme-gradient-vertical($active-background);
                        box-shadow: none;
                    }
                }
            }

            > .content {
                padding: $spacer;
                display: none;
                border-top: $component-border;
            }

            & + div {
                border-top: $component-border;
            }
        }
    }
}
