/// <reference path="../references" />

@mixin alert-variant($background, $border, $color) {
    color: $color;
    background-color: $background;
    border-color: $border;

    hr {
        border-top-color: darken($border, 5%);
    }

    .alert-link {
        color: darken($color, 10%);
    }
}

.alert {
    font-size: $font-size-base;
    padding: $padding-y-base $padding-x-base;
    min-height: $line-height-base + ($padding-y-base * 2);
    background-color: transparent;
    @include border-radius($border-radius-base);
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 8));
    }
}
