/// <reference path="../references" />

@mixin layoutr-audio-visualiser {
    .audio-visualiser {
        @extend .embed;
        @extend .embed.aspect-ratio-4by1;
        @extend .alert;
        align-items: unset;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }

        .title {
            text-align: right;
            z-index: 1;
        }

        .controls {
            margin-top: auto;

            > div {
                @extend .flex;
                @extend .flex.gap-2;
                @extend .flex.right;
                @extend .flex.wrap;
            }
        }

        .title,
        .controls {
            opacity: 0;
            pointer-events: none;
        }

        html.mobile &.shown,
        html.tablet &.shown {
            .title,
            .controls {
                opacity: 1;
            }

            .controls {
                pointer-events: all;
            }
        }

        html.desktop &:hover {
            .title,
            .controls {
                opacity: 1;
                pointer-events: all;
            }
        }

        &[data-type="bars"] button[data-type="bars"],
        &[data-type="oscilloscope"] button[data-type="oscilloscope"],
        &[data-type="waveform"] button[data-type="waveform"] {
            pointer-events: none;
            @extend .btn.theme-dark;
        }
    }
}
