/// <reference path="../references" />

table.dataTable {
    display: none;
}

.dataTables_wrapper {

    .dataTables_header,
    .dataTables_footer {
        padding: $spacer-3;
        @include theme-element($secondary);
    }

    .dataTables_header {
        border-radius: $component-border-radius $component-border-radius 0 0;

        .dataTables_length > label {
            display: flex;
            align-items: center;

            div.dropdown {
                margin: 0 $spacer / 2
            }
        }

        .dt-buttons {
            flex-grow: 1;
        }

        .dataTables_filter {
            max-width: 300px !important;

            input {
                margin: 0;
            }
        }
    }

    .dataTables_content {
        overflow: visible;

        table.dataTable {
            display: table;
            width: 100% !important;

            thead tr > * {
                padding: 0;
            }

            thead {
                th {

                    &:focus > div {
                        @include focus;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        padding: $padding-y $padding-x;

                        > div {
                            display: flex;
                        }

                        > div:first-child {
                            align-items: center;

                            > span:first-child {
                                flex-grow: 1;
                            }

                            > * + * {
                                margin-left: 10px;
                            }
                        }

                        > div:nth-child(2) {
                            margin-top: $padding-y;
                            height: 42px;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }

                    &.sorting_asc .sort-btn:before {
                        border-bottom-color: $dark;
                    }

                    &.sorting_desc .sort-btn:after {
                        border-top-color: $dark;
                    }

                    &.sorting_asc_disabled,
                    &.sorting_desc_disabled {
                    }

                    .sort-btn {
                        width: 20px;
                        height: 20px;
                        position: relative;

                        &:before,
                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &:before {
                            border-bottom: 9px solid $gray-500;
                            top: 0;
                        }

                        &:after {
                            border-top: 9px solid $gray-500;
                            bottom: 0;
                        }
                    }
                }
            }

            tbody tr {
                th,
                td {
                    max-width: 1px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &.dtr-inline.collapsed tbody tr {
                &[role="row"] {
                    th:first-child,
                    td:first-child {
                        position: relative;
                        padding-left: $padding-x+ $padding-x / 2 + $font-size;
                        cursor: pointer;

                        i {
                            position: absolute;
                            top: 50%;
                            left: $padding-x;
                            z-index: 1;
                            width: $font-size;
                            height: $font-size;
                            @include button-transition(all);
                            transform: translateY(-50%);
                            border-radius: 50%;
                            @include theme-element($primary);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include button-transition(all);

                            &:focus {
                                @include focus;
                                position: absolute;
                            }

                            svg {
                                width: $font-size / 2;
                                height: $font-size / 2;

                                &:first-child {
                                    display: block;
                                }

                                &:last-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.parent {
                    th:first-child,
                    td:first-child {
                        i svg {
                            &:first-child {
                                display: none;
                            }

                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }

                &.child td {
                    .dtr-details {
                        @extend ul.list;

                        .dtr-title {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
        }
    }

    .dataTables_footer {
        border-radius: 0 0 $component-border-radius $component-border-radius;

        .dataTables_info {
            flex-grow: 1;
            padding: 0 $spacer-3;
        }

        .dataTables_paginate_container {
            .dataTables_paginate {
                margin-top: -$spacer-3;
                margin-left: -$spacer-3;

                .disabled {
                    display: none;
                }

                span:not(.ellipsis) {
                    display: flex;
                    flex-wrap: wrap;
                }

                a {
                    @extend .btn;
                    @extend .btn.theme-dark;
                }

                .current {
                    @include theme-element($light);

                    html.desktop &:hover {
                        @include theme-element-darken($light);
                    }
                }

                a,
                span.ellipsis {
                    margin-top: $spacer-3;
                    margin-left: $spacer-3;
                }

                span.ellipsis {
                    padding: $padding-y;
                }

                .previous svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $container-small;
    border-radius: $component-border-radius;
    border: $component-border;
    background-color: $white;
    z-index: $modal-z-index;
    overflow: hidden;

    h2 {
        @include theme-element($light, false);
        border-bottom: $component-border;
        padding: $padding-y $padding-x;
        margin-bottom: 0;
    }

    > div {
        padding: $padding-y $padding-x;
    }
}
