/// <reference path="../references" />

.dataTables_wrapper {

    .dataTables_header,
    .dataTables_footer {
        padding: $spacer-3;
        @include theme-element($secondary);
    }

    > .dataTables_header {

        .dataTables_length > label {
            @include flex-display;
            @include align-items(center);

            div.dropdown {
                margin: 0 $spacer / 2
            }
        }

        .dt-buttons {
            flex-grow: 1;
        }

        .dataTables_filter {
            max-width: 300px !important;

            input {
                margin: 0;
            }
        }
    }

    > .dataTables_content {
        overflow: visible;

        table.dataTable {
            display: table;
            width: 100% !important;

            thead {
                th {
                    > div {
                        @include flex-display;
                        @include flex-direction(column);
                        flex-grow: 1;

                        > div {
                            @include flex-display;
                        }

                        > div:first-child {
                            @include align-items(center);

                            > span {
                                flex-grow: 1;
                            }

                            > * + * {
                                margin-left: 10px;
                            }
                        }

                        > div:last-child {
                            margin-top: $padding-y;
                            height: 42px;
                            @include align-items(center);
                            @include justify-content(flex-end);
                        }
                    }

                    &.sorting_asc .sort-btn:before {
                        border-bottom-color: $secondary;
                    }

                    &.sorting_desc .sort-btn:after {
                        border-top-color: $secondary;
                    }

                    &.sorting_asc_disabled,
                    &.sorting_desc_disabled {
                    }

                    .sort-btn {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;

                        &:before,
                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            position: absolute;
                            left: 50%;
                            @include transform(translateX(-50%));
                        }

                        &:before {
                            border-bottom: 9px solid $white;
                            top: 0;
                        }

                        &:after {
                            border-top: 9px solid $white;
                            bottom: 0;
                        }
                    }
                }
            }

            &.dtr-inline.collapsed {
                > tbody > tr {
                    &[role="row"] {
                        > th:first-child,
                        > td:first-child {
                            position: relative;
                            padding-left: 30px;
                            cursor: pointer;
                        }

                        > th:first-child:before,
                        > td:first-child:before {
                            content: '+';
                            position: absolute;
                            z-index: 1;
                            border-radius: 50%;
                            text-align: center;
                            color: $white;
                            margin-top: 0;
                            left: $spacer / 2;
                            width: $font-size;
                            height: $font-size;
                            min-height: 0;
                            padding: 0;
                            @include flex-center;
                            @include button-transition(all);
                            @include theme-element($success);
                        }
                    }

                    &.parent {
                        > th:first-child:before,
                        > td:first-child:before {
                            content: '-';
                            @include theme-element($danger);
                        }
                    }

                    &.child > td {
                        .dtr-details {
                            @extend ul.list;

                            .dtr-title {
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }
            }
        }
    }

    > .dataTables_footer {
        .dataTables_info,
        .dataTables_paginate {
            padding-top: 0;
            float: none;
        }

        .dataTables_info {
            flex-grow: 1;
        }

        .dataTables_paginate_container {

            .dataTables_paginate {
                margin-top: -$spacer-3;
                margin-left: -$spacer-3;

                .disabled {
                    display: none;
                }

                .current {
                    background-color: red;
                }

                span:not(.ellipsis) {
                    @include flex-display;
                    @include flex-wrap(wrap);
                }

                a {
                    @extend .btn;
                }

                a,
                span.ellipsis {
                    margin-top: $spacer-3;
                    margin-left: $spacer-3;
                }

                span.ellipsis {
                    padding: $padding-y;
                }
            }
        }
    }
}

div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 21;

    h2 {
        padding: 0.5em;
        margin: 0;
        font-weight: normal;
        border-bottom: 1px solid #ddd;
        background-color: #f3f3f3;
    }

    > div {
        padding: 1em;
    }
}