/// <reference path="../references" />

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    z-index: $component-z-index;

    &::before {
        display: block;
        content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        @include absolute-fill;
        border: 0;
    }
}

.embed-responsive-21by9 {
    &::before {
        padding-top: percentage(9 / 21);
    }
}

.embed-responsive-16by9 {
    &::before {
        padding-top: percentage(9 / 16);
    }
}

.embed-responsive-4by3 {
    &::before {
        padding-top: percentage(3 / 4);
    }
}

.embed-responsive-1by1 {
    &::before {
        padding-top: percentage(1 / 1);
    }
}
