/// <reference path="../references" />

.embed-responsive {
    position: relative;
    padding: 0;
    overflow: hidden;
    z-index: $component-z-index;
    @extend .cover;

    &::before {
        display: block;
        content: "";
    }

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        @include absolute-fill;
        border: 0;
    }

    &.aspect-ratio-21by9 {
        &::before {
            padding-top: percentage(9 / 21);
        }
    }

    &.aspect-ratio-16by9 {
        &::before {
            padding-top: percentage(9 / 16);
        }
    }

    &.aspect-ratio-4by3 {
        &::before {
            padding-top: percentage(3 / 4);
        }
    }

    &.aspect-ratio-1by1 {
        &::before {
            padding-top: percentage(1 / 1);
        }
    }

    > .position {
        position: absolute;
        left: 0;
        right: 0;
        margin: $spacer;
        @include flex-display;

        > span {
            padding: $padding-y $padding-x;
            background-color: white;
        }

        &.top {
            top: 0;
        }

        &.middle {
            top: calc(50% - #{$spacer});
            @include translateY(-50%);
        }

        &.bottom {
            bottom: 0;
        }

        &.left > span {
            margin-right: auto;
        }

        &.center > span {
            margin-left: auto;
            margin-right: auto;
        }

        &.right > span {
            margin-left: auto;
        }
    }
}
