/// <reference path="../references" />

@mixin layoutr-fixed-img {
    .fixed-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
