/// <reference path="../references" />

@mixin layoutr-fixed-img {
    .fixed-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        html.desktop & {
            height: 100vh;
        }

        html:not(.desktop) & {
            height:100%;
        }
    }
}
