/// <reference path="../references" />

@mixin layoutr-flex-table {
    .flex-table {
    }
}





.flex-table {
    @include flex-display;
    @include flex-wrap(wrap);
    padding: $component-border-width;
    border-radius: $component-border-radius;

    @for $i from 1 through 10 {
        // loop to create all needed elements automatically
        &.cols-#{$i} > div {
            width: #{100% / $i};

            &:nth-child(#{$i}) {
                border-top-right-radius: $component-border-radius;
            }

            &:nth-last-child(#{$i}) {
                border-bottom-left-radius: $component-border-radius;
            }
        }
    }

    > div {
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        position: relative;
        border: $component-border;
        margin: -$component-border-width;

        &:first-child {
            border-top-left-radius: $component-border-radius;
        }

        &:last-child {
            border-bottom-right-radius: $component-border-radius;
        }

        &:before {
            content: '';
            width: 100%;
            padding-bottom: 100%;
            display: block;
        }

        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include flex-center;
            padding: $spacer;
            overflow: hidden;
        }

        @each $color, $value in $theme-colors {
            &.theme-#{$color} {
                @include theme-element($value, false);
            }
        }
    }
}
