/// <reference path="../references" />

@mixin layoutr-flex {
    .flex {
        display: flex;

        @for $i from 1 through 10 {
            &.gap-#{$i} {
                margin-top: -($spacer-base * $i);
                margin-left: -($spacer-base * $i);

                > * {
                    margin-top: ($spacer-base * $i);
                    margin-left: ($spacer-base * $i);
                    max-width: calc(100% - #{$spacer-base * $i});
                }
            }

            $width: $i * 100;

            .basis-#{$width} {
                flex-basis: rem($width);
            }
        }

        &.no-spacing {
            margin-top: 0;
            margin-left: 0;

            > * {
                margin-top: 0;
                margin-left: 0;
                border-radius: 0;
            }
        }

        &.left {
            &:not(.column) {
                justify-content: flex-start;
            }

            &.column {
                align-items: flex-start;
            }
        }

        &.center {
            &:not(.column) {
                justify-content: center;
            }

            &.column {
                align-items: center;
            }
        }

        &.right {
            &:not(.column) {
                justify-content: flex-end;
            }

            &.column {
                align-items: flex-end;
            }
        }

        &.vertical-center {
            &:not(.column) {
                align-items: flex-start;
            }

            &.column {
                justify-content: flex-start;
            }
        }

        &.vertical-center {
            &:not(.column) {
                align-items: center;
            }

            &.column {
                justify-content: center;
            }
        }

        &.vertical-bottom {
            &:not(.column) {
                align-items: flex-end;
            }

            &.column {
                justify-content: flex-end;
            }
        }

        &.column {
            flex-direction: column;
        }

        &.wrap {
            flex-wrap: wrap;
        }

        &.grow > * {
            flex-grow: 1;
        }
    }
}
