/// <reference path="../references" />

#fullscreen {
    z-index: $fullscreen-z-index;

    > div {
        @include flex-display;
        @include align-items(flex-start);
        position: relative;

        > img {
            max-width: 100%;
            max-height: 100vh;
            width: auto !important;
            height: auto !important;
            background-color: transparent;
        }
    }
}
