/// <reference path="../references" />

.fullscreen {
    cursor: pointer;
    @include noselect;

    &.overlay-light:after,
    &.overlay-dark:after {
        transition: background-color $transition-time $transition-timing;
    }
}

#fullscreen {
    z-index: $fullscreen-z-index;

    &:not(.has-info) {
        #fullscreen-title,
        #fullscreen-description,
        #fullscreen-toggle {
            display: none;
        }
    }

    &.has-info:not(.info-shown) {
        #fullscreen-title,
        #fullscreen-description {
            display: none;
        }
    }

    > div {
        @include flex-display;
        @include align-items(flex-start);
        position: relative;
        overflow: hidden;
        background-color: $fullscreen-background-color;

        #fullscreen-img {
            max-width: 100%;
            max-height: 100vh;
            width: auto !important;
            height: auto !important;
            background-color: transparent;
            flex-shrink: 0;
        }

        #fullscreen-title:not(:empty),
        #fullscreen-description:not(:empty) {
            position: absolute;
            left: 0;
            right: 0;
            background-color: $component-overlay-dark-background-color;
            @include color-yiq($component-overlay-dark-background-color);
        }


        #fullscreen-title:not(:empty) {
            top: 0;
            padding: $spacer (rem(56px) + $spacer) $spacer $spacer;
            text-align: center;
            font-weight: $font-weight-bold;
            transition: top $transition-time $transition-timing;
            height: $component-line-height + ($spacer * 2);
            @include ellipsis;
        }

        #fullscreen-description:not(:empty) {
            bottom: 0;
            padding: $spacer;
            transition: bottom $transition-time $transition-timing;
            max-height: calc(100% - #{$component-line-height + ($spacer * 2)});
            overflow: auto;
        }

        #fullscreen-toggle {
            position: absolute;
            top: rem(8px);
            right: rem(8px);
        }
    }
}
