/// <reference path="../references" />

@mixin layoutr-img {
    img,
    .img {
        background-color: $light;

        .embed & {
            background-color:transparent;
        }
        @include noselect;
    }

    .img {
        flex-shrink: 0;
        border-radius: $component-border-radius;
        position: relative;
        overflow: hidden;
    }
}
