/// <reference path="../references" />

img,
.img {
    background-color: theme-color("light");
    @include noselect;
}

.img {
    flex-shrink: 0;
    @include border-radius($component-border-radius);
    position: relative;
    overflow: hidden;
}

div.cover {
    background-size: cover;
    background-position: center center;
}
