/// <reference path="../references" />

img,
.img {
    background-color: $light;
    @include noselect;
}

.img {
    flex-shrink: 0;
    border-radius: $component-border-radius;
    position: relative;
    overflow: hidden;
}

div.cover {
    background-size: cover;
    background-position: center center;
}
