/// <reference path="../references" />

#loading {
    @include flex-center;
    @include overlay;
    height: 100%;
    z-index: $loading-z-index;
    @include noselect;

    &:before {
        content: '';
        @include overlay;
        height: 100vh;
        background-color: $overlay-background-color-light;
    }

    > .spinner {
        height: $font-size * 4;
        @include flex-display;

        > div {
            background-color: $loader-background-color;
            height: 100%;
            margin: 0 ($font-size / 4);
            width: ($font-size * 3) / 5;
            @include animation(sk-stretchdelay, 1.2s, infinite, ease-in-out);
        }

        > .rect2 {
            @include animation-delay(-1.1s);
        }

        > .rect3 {
            @include animation-delay(-1.0s);
        }

        > .rect4 {
            @include animation-delay(-0.9s);
        }

        > .rect5 {
            @include animation-delay(-0.8s);
        }
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
    }
}
