/// <reference path="../references" />

.modal {
    cursor: pointer;
    @include noselect;

    &.overlay-light:after,
    &.overlay-dark:after {
        transition: background-color $transition-time $transition-timing;
    }
}

#modal {
    z-index: $modal-z-index;

    &[data-type="image"] {

        &:not(.has-info) {
            #modal-title,
            #modal-description,
            #modal-toggle {
                display: none;
            }
        }

        &.has-info:not(.info-shown) {
            #modal-title,
            #modal-description {
                display: none;
            }
        }

        > div {
            @include flex-display;
            @include align-items(flex-start);
            position: relative;
            overflow: hidden;
            background-color: $modal-background-color;


            #modal-img {
                max-width: 100%;
                max-height: 100vh;
                width: auto !important;
                height: auto !important;
                background-color: transparent;
                flex-shrink: 0;
            }

            #modal-title:not(:empty),
            #modal-description:not(:empty) {
                position: absolute;
                left: 0;
                right: 0;
                background-color: $component-overlay-dark-background-color;
                @include color-yiq($component-overlay-dark-background-color);
            }


            #modal-title:not(:empty) {
                top: 0;
                padding: $spacer (rem(56px) + $spacer) $spacer $spacer;
                text-align: center;
                font-weight: $font-weight-bold;
                transition: top $transition-time $transition-timing;
                height: $component-line-height + ($spacer * 2);
                @include ellipsis;
            }

            #modal-description:not(:empty) {
                bottom: 0;
                padding: $spacer;
                transition: bottom $transition-time $transition-timing;
                max-height: calc(100% - #{$component-line-height + ($spacer * 2)});
                overflow: auto;
            }

            #modal-toggle {
                position: absolute;
                top: rem(8px);
                right: rem(8px);
            }
        }
    }

    &[data-type="login"] > div,
    &[data-type="register"] > div {
    }
}
