/// <reference path="../references" />

.percentage {
    @include flex-display;
    overflow: hidden;
    border-radius: $component-border-radius;
    @include theme-element($light);
    min-height: $component-line-height + ($padding-y * 2) + ($component-border-width * 2);

    > span {
        padding: $padding-y $padding-x;
        text-align: center;
        @include theme-element($primary, false);
    }

    @each $color, $value in $theme-colors {
        &.theme-#{$color} > span {
            @include theme-element($value, false);
        }
    }
}
