/// <reference path="../references" />

main {
    &.footer-fixed:not(.mobile) {
        .popup[data-position*="middle"] {
            top: 50% !important;
        }

        .popup[data-position*="bottom"] {
            bottom: $footer-height !important;
        }
    }
}

.popup {
    position: fixed !important;
    z-index: $popup-z-index;

    > div {
        flex-grow: 1;
    }

    &.top {
        top: $header-height !important;
    }

    &.middle {
        top: calc(#{$header-height / 2} + 50%) !important;
        @include translateY(-50%);
    }
}
