/// <reference path="../references" />

html {
    &.footer-fixed:not(.mobile) {
        .popup.middle {
            top: 50% !important;
        }

        .popup.bottom {
            bottom: $footer-height !important;
        }
    }
}

.popup {
    position: fixed !important;
    z-index: $popup-z-index;

    > div {
        flex-grow: 1;
    }

    &.top {
        top: $header-height !important;
    }

    &.middle {
        top: calc(#{$header-height / 2} + 50%) !important;
        transform: translateY(-50%);
    }
}
