/// <reference path="../references" />
$popup-spacer: $spacer;

#main {
    &.left-open .popup {
        &[data-position*="center"] {
            left: calc(#{($aside-width / 2) - $popup-spacer} + 50%);
        }

        &[data-position*="left"] {
            left: $aside-width;
        }
    }

    &.right-open .popup {
        &[data-position*="center"] {
            left: calc(-#{($aside-width / 2) + $spacer} + 50%);
        }

        &[data-position*="right"] {
            right: $aside-width;
        }
    }

    &.footer-fixed:not(.mobile) {
        .popup[data-position*="middle"] {
            top: calc(-#{$popup-spacer} + 50%);
        }

        .popup[data-position*="bottom"] {
            bottom: $footer-height;
        }
    }
}

.popup {
    width: 100%;
    position: fixed;
    z-index: $popup-z-index;
    width: 100%;
    margin: $popup-spacer;
    max-width: $container-medium;

    &[data-position*="top"] {
        top: $header-height;
    }

    &[data-position*="middle"] {
        top: calc(#{($header-height / 2) - $popup-spacer} + 50%);
        @include translateY(-50%);
    }

    &[data-position*="bottom"] {
        bottom: 0;
    }

    &[data-position*="left"] {
        left: 0;
    }

    &[data-position*="center"] {
        left: calc(-#{$popup-spacer} + 50%);
        @include translateX(-50%);
    }

    &[data-position*="right"] {
        right: 0;
    }

    &[data-position="middle center"] {
        @include translate(-50%, -50%);
    }
}
