/// <reference path="../references" />

@mixin progress-variant($background) {
    @include color-yiq($background);
    box-shadow: $box-shadow;
    background: theme-gradient($background);
}
.progress {
    @include flex-display;
    overflow: hidden;
    border-radius: $component-border-radius;
    border: $component-border;
    background: theme-color("light");

    min-height: $component-line-height + ($padding-y * 2) + ($component-border-width * 2);
    
    > span {
        padding: $padding-y $padding-x;
        text-align: center;
        @include progress-variant(theme-color("primary"));
    }

    @each $color, $value in $theme-colors {
        &.theme-#{$color} > span {
            @include progress-variant($value);
        }
    }
}
