/// <reference path="../references" />

@mixin layoutr-quote {
    .quote {
        display: flex;

        &.large > .text {
            > p {
                font-size: $font-size-large;

                > svg {
                    width: $font-size-large;
                    height: $font-size-large;
                }
            }

            > .author {
                font-size: $font-size;
            }
        }

        > .img {
            width: $quote-img-width;
            height: $quote-img-width;
        }

        > .text {
            padding: $padding-y $padding-x;

            > p {
                font-size: $font-size;

                > svg {
                    display: inline;
                    width: $font-size;
                    height: $font-size;
                }
            }

            > .author {
                display: block;
                margin-top: $spacer / 2;
                opacity: $font-light-opacity;
                font-size: $font-size-small;
            }
        }
    }
}