/// <reference path="../references" />

@mixin layoutr-ratings {
    input.ratings {
        display: none;
    }

    div.ratings {
        display: inline-flex;

        button {
            padding: $spacer-1;
            width: $spacer + ($spacer-1 * 2);
            height: $spacer + ($spacer-1 * 2);
            display: flex;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
