/// <reference path="../references" />

.swiper {
    &:not(.loaded) {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    border: $component-border;
    @include theme-element($light, false);

    .swiper-wrapper {
    }

    .swiper-footer {
        margin-left: -$component-border-width;
        margin-right: -$component-border-width;
        margin-bottom: -$component-border-width;
        padding: $spacer-3;
        @include theme-element($secondary);

        .prev {
            order: 1;
        }

        .next {
            order: 3;
        }

        .swiper-pagination {
            position: relative;
            flex-grow: 1;
            order: 2;

            > div {

                > span {
                    @include theme-element($dark);
                    opacity: $opacity-inactive;
                }

                > [class$='-active'] {
                    @include theme-element($light);
                }
            }
        }

        .prev svg {
            transform: rotate(180deg);
        }
    }
}
