/// <reference path="../references" />

.swiper {
    &:not(.loaded) {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    border: $component-border;
    @include theme-element($light);

    .swiper-wrapper {
    }

    .swiper-footer {
        margin-left: -$component-border-width;
        margin-right: -$component-border-width;
        margin-bottom: -$component-border-width;
        padding: $spacer-3;
        @include theme-element($secondary, true);

        .prev {
            order: 1;
        }

        .next {
            order: 3;
        }

        .swiper-pagination {
            position: relative;
            flex-grow: 1;
            order: 2;

            > span {
                @include theme-element($dark, true);
                opacity: $opacity-inactive;
            }

            > [class$='-active'] {
                @include theme-element($light, true);
            }
        }

        .prev svg {
            transform: rotate(180deg);
        }
    }
}
