/// <reference path="../references" />

.swiper {
    &:not(.loaded) {
        /*display: none;*/
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    &.demo {
        border: $component-border;
        border-radius: $component-border-radius;
        background-color: $gray-300;

        .swiper-slide {
            background-color: $white;
        }
    }
}
