/// <reference path="../references" />

@mixin table-variant($background) {
    background: theme-gradient($background);
    @include color-yiq($background);
}

.table {
    overflow: auto;

    @each $color, $value in $theme-colors {
        &.theme-#{$color} table thead th {
            @include table-variant($value);
        }
    }

    &.expand-width > table {
        width: 100%;
    }

    table {
        vertical-align: top;
        overflow-x: auto;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
        -webkit-overflow-scrolling: touch;

        thead th {
            @include table-variant(theme-color("primary"));
        }

        tbody tr:nth-child(even) th,
        tbody tr:nth-child(even) td {
            background-color: $table-td-background-color;
        }

        th {
            text-align: left;
        }

        th,
        td {
            padding: $padding-y $padding-y;
            border: $component-border;
        }
    }

    &.flipped {

        &.expand-width {
            table tbody {
                width: 100%;

                tr {
                    flex-grow: 1;
                }
            }
        }

        table {
            @include flex-display();
            overflow: hidden;

            thead {
                @include flex-display();
                flex-shrink: 0;
            }

            tbody {
                -webkit-overflow-scrolling: touch;
                @include flex-display();
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
            }

            tr {
                @include flex-display();
                @include flex-direction(column);
                flex-shrink: 0;

                th:not(:last-child),
                td:not(:last-child) {
                    border-bottom: 0;
                }

                th,
                td {
                    display: block;
                    border-left: 0;
                }
            }
        }
    }
}
