/// <reference path="../references" />

@mixin layoutr-table {
    .table {
        overflow: auto;

        @each $color, $value in $theme-colors {
            &.theme-#{$color} table thead th {
                @include theme-element($value, false);
            }
        }

        &.expand-width > table {
            width: 100%;
        }

        table {
            vertical-align: top;
            overflow-x: auto;
            white-space: nowrap;
            border-collapse: collapse;
            border-spacing: 0;

            thead th {
                @include theme-element-darken($light, false);
            }

            tbody tr:nth-child(even) th,
            tbody tr:nth-child(even) td {
                background-color: $table-td-background-color;
            }

            th {
                text-align: left;
            }

            th,
            td {
                padding: $padding-y $padding-x;
                border: $component-border;
            }
        }

        &.flipped {

            &.expand-width {
                table tbody {
                    width: 100%;

                    tr {
                        flex-grow: 1;
                    }
                }
            }

            table {
                @include flex-display();
                overflow: hidden;

                thead {
                    @include flex-display();
                    flex-shrink: 0;
                }

                tbody {
                    @include flex-display();
                    position: relative;
                    overflow-x: auto;
                    overflow-y: hidden;
                }

                tr {
                    @include flex-display();
                    @include flex-direction(column);
                    flex-shrink: 0;

                    th:not(:last-child),
                    td:not(:last-child) {
                        border-bottom: 0;
                    }

                    th,
                    td {
                        display: block;
                        border-left: 0;
                    }
                }
            }
        }
    }
}