/// <reference path="../references" />

.tooltip {
    cursor: pointer;
    @include noselect;
    border-bottom: $component-border-width dotted black;
}

#tooltip {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    @include border-radius($component-border-radius);

    > div {
        overflow: auto;
        max-width: 800px;
        max-height: 400px;
        background-color: black;
        color: white;
        @include flex-display;
        @include flex-direction(column);
        padding: $spacer / 2;

        > * + * {
            margin-top: $spacer / 2;
        }
    }
}
