/// <reference path="../references" />

.tree {
    margin-left: 1em;
    @include noselect;
    list-style-type: none;

    ul {
        list-style-type: none;
    }

    li {
        line-height: 1em;
        position: relative;
        padding-left: 1em;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -.5em;
            display: block;
            width: 0;
            border-left: 1px solid $tree-border-color;
            z-index: 1;
        }

        &:last-child:before {
            height: 1em;
            bottom: auto;
        }
    }

    .label {
        position: relative;
        display: inline-block;
        margin-left: -2.5em;
        padding: .5em .5em .5em 2.5em;
        width: calc(100% + 2.5em);

        &:hover {
            background-color: $tree-hover-background-color;
        }

        &:after {
            content: '';
            position: absolute;
            top: 1em;
            left: 1em;
            margin-left: 0;
            display: block;
            height: 1px;
            width: 1em;
            border-bottom: 1px solid $tree-border-color;
            border-left: 1px solid $tree-border-color;
        }
    }

    label.label {
        cursor: pointer;
    }

    input[type=checkbox] {
        display: none;

        &:checked {
            & ~ ul {
                display: block;
            }

            & ~ label.label:after {
                border-top: 1px solid $tree-border-color;
                border-right: 1px solid $tree-border-color;
                border-bottom: 0;
                border-left: 0;
                bottom: 0;
                /* top: 1em; */
                height: auto;
                left: calc(1em + 1px);
            }

            & ~ .label > .btn > svg:first-child {
                display: none;
            }
        }

        &:not(:checked) {
            & ~ ul {
                display: none;
            }

            & ~ .label > .btn > svg:last-child {
                display: none;
            }
        }

        & ~ .label > .btn {
            position: absolute;
            z-index: 1;
            @include border-radius(50%);
            text-align: center;
            color: $font-color-light;
            margin-top: 0;
            left: .5em;
            width: 1em;
            height: 1em;
            padding: 0;
            @include flex-display();
            @include justify-content(center);
            @include align-items(center);
            @include button-transition(all);

            > svg {
                width:60%;
                height:60%;
            }
        }
    }

    .highlight {
        display: block;
        background-color: $tree-highlight-background-color;
        padding: 1em;
    }
}
