/// <reference path="../references" />

@mixin layoutr-tree {
    .tree {
        margin-left: $spacer * 1.5;
        user-select: none;
        list-style-type: none;
        z-index: $component-z-index;

        ul {
            list-style-type: none;
        }

        li {
            line-height: $spacer;
            position: relative;
            padding-left: $spacer;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: -($spacer / 2 + $component-border-width);
                display: block;
                width: 0;
                border-left: 1px solid $component-border-color;
                z-index: 1;
            }

            &:last-child:before {
                height: 1rem;
                bottom: auto;
            }
        }

        label.label {

            html.desktop &:focus > i {
                @extend .btn:focus;
                position: absolute;
            }

            > i {
                @extend .btn;
                @extend .btn.theme-primary;
                overflow: hidden;
            }
        }


        li {
            a.label.active {
                @include theme-element($primary, false);
                pointer-events: none;
                text-decoration: none;
            }

            html.desktop & {
                a.label:not(.active):hover {
                    color: text-contrast($link-color, $tree-hover-background-color);
                }

                .label:not(.active):hover {
                    background: theme-gradient-vertical($tree-hover-background-color);
                }
            }
        }

        .label {
            position: relative;
            display: block;
            margin-left: -($spacer * 2.5);
            padding: ($spacer / 2) ($spacer / 2) ($spacer / 2) ($spacer * 2.5);
            width: calc(100% + (#{$spacer} * 2.5));
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: $spacer;
                left: $spacer;
                margin-left: 0;
                display: block;
                height: 1px;
                width: $spacer;
                border-bottom: 1px solid $component-border-color;
                border-left: 1px solid $component-border-color;
            }
        }

        input[type=checkbox] {
            display: none;

            &:checked {
                & ~ ul {
                    display: block;
                }

                & ~ label.label:after {
                    border-top: 1px solid $component-border-color;
                    border-right: 1px solid $component-border-color;
                    border-bottom: 0;
                    border-left: 0;
                    bottom: 0;
                    height: auto;
                    left: $spacer;
                }

                & ~ .label > i > svg:first-child {
                    display: none;
                }
            }

            &:not(:checked) {
                & ~ ul {
                    display: none;
                }

                & ~ .label > i > svg:last-child {
                    display: none;
                }
            }

            & ~ .label > i {
                position: absolute;
                z-index: 1;
                border-radius: 50%;
                text-align: center;
                color: $white;
                margin-top: 0;
                left: $spacer / 2;
                width: $font-size;
                height: $font-size;
                min-height: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                @include transition;

                > svg {
                    width: $font-size / 2;
                    height: $font-size / 2;
                }
            }
        }

        .highlight {
            display: block;
            background-color: $tree-highlight-background-color;
            padding: $padding-y $padding-x;
        }
    }
}
