/// <reference path="../references" />

.assignment.move {

    .header {
        @include theme-element($secondary);
    }

    .box {
        border: $component-border;
    }

    .container {
        padding: $spacer / 2;
        min-height: rem(66px);
    }

    .place {
        pointer-events: none;
        opacity: 0;
    }

    &.validated {

        .from,
        .to {
            pointer-events: none;
        }
    }

    html.desktop & {
        &.moving .box:hover .place,
        &.moving .place:focus {
            pointer-events: all;
            opacity: 1;
        }
    }

    html.mobile &,
    html.tablet & {
        &.moving .place {
            pointer-events: all;
            opacity: 1;
        }
    }

    .item {
        > label {
            @include theme-element($light);
            padding: $padding-y $padding-x;
        }

        &.valid > label {
            @include theme-element-soft($success);
        }

        &.invalid > label {
            @include theme-element-soft($danger);
        }
    }

    .to {
        .item {
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: rem(42px);
            }

            > label {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                > span {
                    @include ellipsis;
                }
            }
        }
    }
}

.item.checkbox.sortable-chosen {
    &.sortable-fallback {
        margin: $flex-space-base * 2;
    }

    label {
        @include theme-element-soft($secondary);
        padding: $padding-y $padding-x;

        i {
            box-shadow: none !important;
        }
    }
}

.item.checkbox.sortable-ghost label {
    @include theme-element-soft($secondary);
}
