/// <reference path="../references" />

@mixin layoutr-sort {
    .assignment.sort {
        .content {
            border: $component-border;
            border-radius: $component-border-radius;
            background-color: $white;
            padding: $spacer / 2;
        }

        .container {
            @include align-items(center);
            @include justify-content(center);

            &.checking {
                visibility: hidden;
                opacity: 0;
            }
        }

        .wrap > .item {
            text-align: center;
        }

        .item {
            @include theme-element($light);
            padding: $padding-y $padding-x;
            cursor: pointer;
            @include noselect;

            html.desktop &:hover {
                @include theme-element-soft($secondary, false);
            }

            &.valid {
                @include theme-element-soft($success);
            }

            &.invalid {
                @include theme-element-soft($danger);
            }
        }

        &.validated .container {
            pointer-events: none;
        }
    }

    .sort-sortable-chosen {
        @include theme-element($secondary, true);
        padding: $padding-y $padding-x;

        body > & {
            margin: $spacer / 2;
        }
    }
}
