/// <reference path="../references" />

@mixin layoutr-sort {
    .assignment.sort {
        .content {
            border: $component-border;
            border-radius: $component-border-radius;
            background-color: $white;
            padding: $spacer / 2;
        }

        .container {
            align-items: center;
            justify-content: center;

            &:not(.wrap):not(.checked) {
                visibility: hidden;
                opacity: 0;
            }
        }

        .item {
            @include theme-element($light);
            padding: $padding-y $padding-x;
            cursor: pointer;
            user-select: none;
            text-align: center;

            html.desktop &:not(.sortable-ghost):hover {
                @include theme-element-soft($secondary, false);
            }

            &.valid {
                @include theme-element-soft($success);
            }

            &.invalid {
                @include theme-element-soft($danger);
            }
        }

        &.validated .container {
            pointer-events: none;
        }
    }

    .assignment.sort .item.sortable-ghost,
    .sort-sortable-chosen {
        @include theme-element($dark);
    }

    .sort-sortable-chosen {
        padding: $padding-y $padding-x;
        text-align: center;

        body > & {
            margin: $spacer / 2;
        }
    }
}
