/// <reference path="../references" />

.hidden {
    display: none !important;
}
div.cover {
    background-size: cover;
    background-position: center center;
}

.math {
    @include hidden;
}

.full-width {
    width:100%;
}