/// <reference path="../references" />

// hover effects should only be applied on desktop browsers
.desktop {

    .btn:hover {
        $value: theme-color("primary");
        $active-background: darken($value, 7.5%);
        @include color-yiq($active-background);
        background: theme-gradient($active-background);
    }

    .alert .close:hover {
        $value: theme-color("light");
        $active-background: darken(theme-soft-background-color($value), 7.5%);
        @include color-yiq($active-background);
        background-color: $active-background;
    }

    .modal.overlay-light:after,
    .modal.overlay-dark:after {
        transition: background-color $transition-time $transition-timing;
    }

    .modal.overlay-light:hover:after,
    .modal.overlay-dark:hover:after {
        background-color: transparent;
    }

    a:hover {
        text-decoration: none;
    }

    ol.list li > button:hover,
    ol.list li > a:hover {
        $active-background: darken($list-background-color, 7.5%);
        @include color-yiq($active-background);
        background: theme-gradient($active-background);
    }

    header.header,
    aside > .header,
    #modal > div > div > div .header {
        > button:hover {
            overflow: hidden;

            svg {
                fill: $aside-icon-hover-background-color;
                width: 75%;
                height: 75%;
            }
        }
    }

    aside:hover > .content,
    aside > .content > div,
    aside > .content:hover,
    aside > .content:focus {
        visibility: visible;
    }

    aside > .content {
        visibility: hidden;

        & > div,
        &:hover,
        &:focus {
            visibility: visible;
        }
    }

    .tree .label:hover {
        background-color: $tree-hover-background-color;

        > .btn {
            @extend .btn:hover;
        }
    }

    @each $color, $value in $theme-validation-colors {
        .form-group.theme-#{$color} .dropdown > .btn:hover {
            $background: theme-soft-background-color($value);
            background: theme-gradient(darken($background, 7.5%));
            @include color-yiq(darken($background, 7.5%));
        }
    }

    .dropdown > ul > li > div:hover > svg {
        opacity: .4;
    }

    .theme-link:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    @each $color, $value in $theme-colors {
        .btn.theme-#{$color}:hover {
            $active-background: darken($value, 7.5%);
            @include color-yiq($active-background);
            background: theme-gradient($active-background);
        }

        .alert.theme-#{$color} .close:hover {
            $active-background: darken(theme-soft-background-color($value), 7.5%);
            @include color-yiq($active-background);
            background-color: $active-background;
        }

        ol.list.theme-#{$color} li > a:hover:after {
            border-left-color: $value;
        }
    }

    ol.list li > a:hover:after {
        left: -($spacer / 2);
        border-left-color: $list-number-background-color;
    }
}
