/// <reference path="../references" />

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; // disable android focus glow
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    @media screen {
        height: 100vh;
    }
}

html {
    @media screen {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    box-sizing: border-box;
    font-size: rem($rem-difference);
}

body {
    font-family: $font-family-sans-serif;
    background-color: $layout-background-color;
    color: $body-color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    word-break: break-word;

    @media screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        html.scroll-disabled & {
            position: fixed;
        }

        html.msedge:not(.footer-fixed).subpixel &,
        html.msie:not(.footer-fixed).subpixel & {
            &:after {
                content: '';
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: rem(2px);
                background-color: $footer-background-color;
                z-index: $footer-z-index;
            }
        }
    }
}

a {
    color: $link-color;

    &:focus,
    html.desktop &:hover {
        text-decoration: none;
    }
}

header,
footer,
main,
svg,
audio,
video {
    display: block;
}

svg {
    pointer-events: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}


:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

pre {
    display: block;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
}

video {
    width: 100%;
}
