/// <reference path="../references" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: rem($rem-difference);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: $font-family;
    background-color: $body-background-color;
    color: $body-color;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

a {
    color: $link-color;

    &:focus {
        text-decoration: none;
    }
}

header,
footer,
main {
    display: block;
}

button {
    cursor: pointer;
    border: none;
}


:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}