/// <reference path="../references" />

@mixin layoutr-dropdown {
    select.dropdown {
        @include hidden;
    }

    div.dropdown {
        position: relative;
        width: 100%;
        white-space: normal;

        &.nowrap {
            white-space: nowrap;

            ul {
                left: auto;
                right: auto;
                min-width: 100%;
            }
        }

        &.ellipsis {
            label {
                @include ellipsis;
            }
        }

        &.align-left {
            li {
                justify-content: flex-start !important;
            }

            label {
                text-align: left;
            }
        }

        &.align-right {
            label {
                text-align: right;
            }

            li {
                justify-content: flex-end !important;
            }

            > ul > li {
                > label {
                    order: 2;
                }

                > svg {
                    order: 1;
                }
            }
        }

        &.direction-up {
            @media screen {
                &.open > div {
                    border-radius: 0 0 $component-border-radius $component-border-radius;

                    > svg {
                        transform: rotate(90deg);
                    }
                }
            }

            > div > svg {
                transform: rotate(270deg);
            }

            > ul {
                margin-top: 0;
                margin-bottom: $component-focus-box-shadow-width;
                top: auto;
                bottom: 100%;
                border-radius: $component-border-radius $component-border-radius 0 0;
            }
        }

        > div:focus + ul {
            @include focus;
            position: absolute;
        }

        @media screen {
            &.open {
                > div {
                    border-radius: $component-border-radius $component-border-radius 0 0;
                    @include focus;

                    > svg {
                        transform: rotate(270deg);
                    }
                }

                > ul {
                    display: block;
                    @include focus;
                    position: absolute;

                    > li > div:focus {
                        @include theme-element-soft-darken($light, true);
                        box-shadow: none;
                    }
                }
            }
        }

        > div {
            display: flex;
            @extend .btn;

            > label {
                flex-grow: 1;
                text-align: center;
                line-height: $component-line-height - ($component-border-width * 2);
                max-width: 100%;
                overflow: auto;
            }

            > svg {
                transform: rotate(90deg);
            }
        }

        &:not(.open) > ul {
            display: none;
        }

        > ul {
            list-style-type: none;
            background-color: $gray-100;
            border: $component-border;
            position: absolute;
            top: 100%;
            margin-top: $component-focus-box-shadow-width;
            left: 0;
            right: 0;
            z-index: $dropdown-z-index;
            border-radius: 0 0 $component-border-radius $component-border-radius;
            overflow: auto;
            max-height: ($height * 4) + ($component-border-width * 5);

            li {

                &:not(.optgroup):not(.filter) {
                    @extend .btn; // switch away from .btn .. its not ideal
                    border-radius: 0 !important;
                    border: none !important;
                    box-shadow: none !important;
                }

                &:not(.optgroup) + li:not(.optgroup) {
                    border-top: $component-border !important;
                }

                > label {
                    flex-grow: 1;
                    text-align: center;
                    max-width: 100%;
                    overflow: auto;
                }

                > svg {
                    opacity: 0;
                }

                &.selected {
                    @extend .btn:hover;

                    > svg {
                        fill: $success;
                        opacity: 1 !important;
                    }
                }

                html.desktop &:hover > svg {
                    opacity: $opacity-inactive;
                }
            }

            > li {

                &.optgroup {
                    flex-direction: column;
                    pointer-events: none;


                    > label {
                        display: block;
                        font-weight: $font-weight-bold;
                        padding: $padding-y $padding-x;
                    }

                    > ul {
                        border-left: $spacer-2 solid $component-border-color;

                        > li {
                            pointer-events: all;
                        }
                    }
                }

                &.filter {
                    padding: $spacer-2;

                    > input[type="text"] {
                        cursor: text;
                    }
                }

                &.no-results {
                    pointer-events: none;
                }
            }
        }
    }
}
