/// <reference path="../references" />

select.dropdown {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
}

div.dropdown {
    position: relative;
    width: 100%;

    &.ellipsis {
        > div > label,
        > ul > li > div > label {
            @include ellipsis;
        }
    }

    &.align-left {
        > div > label,
        > ul > li > div > label {
            text-align: left;
        }
    }

    &.align-right {
        > div > label {
            text-align: right;
        }

        > ul > li > div {
            > label {
                text-align: right;
                order: 2;
            }

            > svg {
                order: 1;
            }
        }
    }

    &.direction-up {
        &.open {
            > div {
                @include border-radiuses(0, 0, $component-border-radius, $component-border-radius);

                > svg {
                    @include rotate(90);
                }
            }
        }

        > div > svg {
            @include rotate(270);
        }

        > ul {
            margin-top: 0;
            margin-bottom: $btn-focus-box-shadow-width;
            top: auto;
            bottom: 100%;
            @include border-radiuses($component-border-radius, $component-border-radius, 0, 0);
        }
    }

    &.open {

        > div {
            @include border-radiuses($component-border-radius, $component-border-radius, 0, 0);
            @extend .focus;

            > svg {
                @include rotate(270);
            }
        }

        > ul {
            display: block;

            @each $color, $value in $theme-colors {
                @extend .btn.focus;
            }
        }
    }

    > div {
        @include flex-display();
        border: $component-border;

        > label {
            flex-grow: 1;
            text-align: center;
            line-height: $component-line-height;
        }

        > svg {
            @include rotate(90);
        }
    }

    > ul {
        display: none;
        list-style-type: none;
        background-color: $gray-100;
        border: $component-border;
        position: absolute;
        top: 100%;
        margin-top: $btn-focus-box-shadow-width;
        left: 0;
        right: 0;
        z-index: $dropdown-z-index;
        @include border-radiuses(0, 0, $component-border-radius, $component-border-radius);
        overflow: auto;
        max-height: ($height * 4) + ($component-border-width * 4);

        > li {

            > div {
                @include border-radius(0);
                display: block;
                @include flex-display();

                > label {
                    flex-grow: 1;
                    text-align: center;
                }

                > svg {
                    opacity: 0;
                }
            }

            &.selected {
                > div {
                    background-color: white;
                    cursor: default;
                    pointer-events: none;

                    > svg {
                        fill: theme-color("success");
                        opacity: 1;
                    }
                }
            }

            & + li {
                border-top: $component-border;
            }
        }
    }
}
