/// <reference path="../references" />

@mixin validation-variant($background, $border, $color) {
    $background-light: theme-color-level($background, -10);
    $background-dark: theme-color-level($background, -4);

    textarea,
    input[type=text],
    input[type=password],
    input[type=email],
    .dropdown > div {
        color: $color;
        fill: $color;
        background-color: $background-light;
        border-color: $border;

        .focus,
        &:focus {
            @include box-shadow($box-shadow, 0 0 0 $btn-focus-box-shadow-width $border);
        }
    }

    input[type=checkbox],
    input[type=radio] {

        & + label > i {
            border-color: $border;
            background-color: $background-light;
        }

        &:checked + label > i {
            background-color: $background-dark;
        }
    }

    .dropdown.open {
        > div,
        > ul {
            @include box-shadow($box-shadow, 0 0 0 $btn-focus-box-shadow-width $border);
        }
    }

    > div > .input-group > .input-group-addon {
        background-color: $border;
        border-color: $border;
        fill:$color;
    }
}

.form-group,
.form-group > div,
.form-group > div > .input-group {
    @include flex-display;
    @include flex-wrap(wrap);
    flex-grow: 1;
}

.form-group,
.form-group > div {
    @include align-items(flex-start);
}

.form-group {
    > .control-label {
        padding-right: $spacer;
        width: $form-label-width;
        line-height: $line-height + ($padding-y * 2);

        &.required:after {
            content: '*';
            color: theme-color("danger");
            margin-left: $spacer / 3;
        }
    }

    textarea {
        resize: none; /* Safari */
        resize: vertical; /* Chrome */
        min-height: ($line-height * 5) + ($padding-y * 2);
        line-height: $line-height;
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        min-height: $line-height + ($padding-y * 2);
    }

    textarea,
    input[type=text],
    input[type=password],
    input[type=email] {
        padding: $padding-y $padding-x;
        @include border-radius($component-border-radius);
        border: $component-border;
        z-index: $component-z-index;
        @include box-shadow($input-box-shadow);
        width: 100%;

        &:focus {
            @include box-shadow($input-focus-box-shadow);
        }
    }

    > div {
        min-width: $form-input-min-width;
        width: calc(100% - #{$form-label-width});

        > .input-group {
            position: relative;
            width: 100%;

            > .input-group-addon {
                position: absolute;
                top: $component-border-width;
                bottom: $component-border-width;
                @include flex-display;
                @include align-items(center);
                z-index: $input-group-addon;
                padding: 0 $padding-x;

                &:first-child {
                    left: $component-border-width;
                    @include border-radiuses-ignore-0($component-border-radius, 0, 0, $component-border-radius);
                    border-right: $component-border;
                }

                &:last-child {
                    right: $component-border-width;
                    @include border-radiuses-ignore-0(0, $component-border-radius, $component-border-radius, 0);
                    border-left: $component-border;
                }

                $value: theme-color("light");
                $active-background: darken($value, 7.5%);


                color: theme-color-level($value, 8);
                fill: theme-color-level($value, 8);
                background-color: theme-color-level($value, -10);

                > svg {
                    width: $font-size;
                    height: $font-size;
                    flex-shrink: 0;
                }

                & + .form-control {
                    padding-left: ($padding-x * 3) + $font-size;
                }
            }
        }
    }

    &.theme-danger {
        em {
            color: theme-color("danger");
            margin: ($spacer / 2) 0 $spacer 0;
            width: 100%;
        }
    }

    @each $color, $value in $theme-validation-colors {
        &.theme-#{$color} {
            @include validation-variant($value, theme-color-level($value, -9), theme-color-level($value, 8));
        }
    }
}
