/// <reference path="../references" />

.slider {
    display: block;
    vertical-align: middle;
    position: relative;
    z-index: $component-z-index;
    @include noselect;

    + input {
        @include hidden-input;
    }

    .slider-track,
    .slider-tick,
    .slider-selection.tick-slider-selection {
        background-color: $slider-track-background-color;
    }

    .slider-track {
        border-radius: $component-border-radius;
        position: absolute;
        cursor: pointer;
    }

    .slider-selection {
        border-radius: $component-border-radius;
        position: absolute;
    }

    .slider-handle {
        position: absolute;
        top: 0;
        width: $slider-line-height;
        height: $slider-line-height;
        background: theme-gradient($slider-handle-background-color);
        border: none;
        cursor: pointer;

        &:focus {
            box-shadow: $box-shadow, 0 0 0 $btn-focus-box-shadow-width theme-soft-border-color(theme-color("primary"));
            z-index: $component-focus-z-index;
        }

        &.round {
            border-radius: $slider-line-height;
        }
    }

    .slider-tick {
        position: absolute;
        width: $slider-line-height;
        height: $slider-line-height;
        filter: none;
        opacity: 0.8;
        border: none;

        &.round {
            border-radius: 50%;
        }

        &.in-selection {
            opacity: 1;
        }
    }


    &.slider-horizontal {
        margin: 0 ($slider-line-height / 2);
        height: $slider-line-height;
        width: 100%;

        .slider-track {
            height: $slider-line-height / 2;
            width: 100%;
            margin-top: -$slider-line-height / 4;
            top: 50%;
            left: 0;
        }

        .slider-selection {
            height: 100%;
            top: 0;
            bottom: 0;
        }

        .slider-tick,
        .slider-handle {
            margin-left: -$slider-line-height/2;
        }

        .slider-tick-container {
            white-space: nowrap;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    &.slider-vertical {
        width: $slider-line-height;

        .slider-track {
            width: $slider-line-height / 2;
            height: 100%;
            left: 25%;
            top: 0;
        }

        .slider-selection {
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .slider-tick,
        .slider-handle {
            margin-top: -$slider-line-height / 2;
        }
    }

    &.slider-disabled {
        .slider-track {
            cursor: not-allowed;
        }
    }

    input {
        display: none;
    }

    .tooltip {
        position: absolute;
        transform: translateX(-50%);
        margin-left: 0 !important;

        &:not(.in) {
            display: none;
        }

        &.top {
            bottom: calc(100% + #{$spacer / 2});

            > .tooltip-arrow {
                border-top: ($spacer / 2) solid $component-border-color;
                top: calc(100% - #{$component-border-width});

                &:after {
                    top: -($spacer / 2);
                    border-top: (($spacer / 2) - ($component-border-width)) solid theme-color("dark");
                }
            }
        }

        &.bottom {
            top: calc(100% + #{$spacer / 2});

            > .tooltip-arrow {
                border-bottom: ($spacer / 2) solid $component-border-color;
                bottom: calc(100% - #{$component-border-width});

                &:after {
                    bottom: -($spacer / 2);
                    border-bottom: (($spacer / 2) - ($component-border-width)) solid theme-color("dark");
                }
            }
        }

        > .tooltip-inner {
            white-space: nowrap;
            max-width: none;
            padding: $padding-y $padding-x;
            background: theme-gradient(theme-color("dark"));
            @include color-yiq(theme-color("dark"));
            border-radius: $component-border-radius;
            border: $component-border;
        }

        > .tooltip-arrow {
            width: 0;
            height: 0;
            border-left: ($spacer / 2) solid transparent;
            border-right: ($spacer / 2) solid transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:after {
                content: '';
                position: absolute;
                left: -($spacer / 2);
                width: 0;
                height: 0;
                margin-left: $component-border-width;
                border-left: (($spacer / 2) - ($component-border-width)) solid transparent;
                border-right: (($spacer / 2) - ($component-border-width)) solid transparent;
            }
        }
    }

    .hide {
        display: none;
    }
}
